<!DOCTYPE html>
<%#include "client.h" %>
<% tfetch(Client, user); %>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

    		<title>Online Rentals:Shopfront - <%= controller()->name() %></title>

		<!-- Bootstrap core CSS -->
	    	<link href="/flatlab/css/bootstrap.min.css" rel="stylesheet">
	    	<link href="/flatlab/css/bootstrap-reset.css" rel="stylesheet">
	    	<!--external css-->
	    	<link href="/flatlab/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
	    	<!--right slidebar-->
	    	<link href="/flatlab/css/slidebars.css" rel="stylesheet">
	    	<!-- Custom styles for this template -->
	    	<link href="/flatlab/css/style.css" rel="stylesheet">
	    	<link href="/flatlab/css/style-responsive.css" rel="stylesheet" />

	    	<!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
	    	<!--[if lt IE 9]>
	      		<script src="/flatlab/js/html5shiv.js"></script>
	      		<script src="/flatlab/js/respond.min.js"></script>
	    	<![endif]-->
	</head>

  	<body class="full-width">
  		<section id="container" class="">
  			<!--header start-->
      			<header class="header white-bg">
          			<!--logo start-->
          			<a href="" class="logo" >Online<span>Rentals</span></a>
          			<!--logo end-->
          			<!--nav start-->
          			<div class="top-nav ">
              			<ul class="nav pull-right top-menu">
                  				<li>
                      				<input type="text" class="form-control search" placeholder="Search">
                  				</li>
                  				<!-- user login dropdown start-->
                  				<li class="dropdown">
                      				<a data-toggle="dropdown" class="dropdown-toggle" href="#">
                          				<img alt="" src="/flatlab/img/avatar1_small1.jpg">
                          				<span class="username"><%= user.username() %></span>
                          				<b class="caret"></b>
                      				</a>
                      				<ul class="dropdown-menu">
                          				<div class="log-arrow-up"></div>
                          				<li><%== linkTo("<i class='fa fa-suitcase'></i> Profile", urla("clientProfile")) %></li>
                          				<li><%== linkTo("<i class='fa fa-sign-out'></i> Logout", urla("clientLogout")) %></li>
                      				</ul>
                  				</li>
                  				<!-- user login dropdown end -->
              			</ul>
          			</div>
          			<!--nav end-->
      			</header>
      			<!--header end-->
      			
      			<!--main content start-->
      			<section id="main-content">
          			<section class="wrapper">
              			<!-- page start-->
              			<div class="row">
                  				<aside class="profile-nav col-lg-3">
                      				<section class="panel">
                          				<div class="user-heading round">
                              					<a href="#">
                                  					<img src="/flatlab/img/profile-avatar.jpg" alt="">
                              					</a>
                              					<h1><%= user.firstname() + " " + user.lastname() %></h1>
                              					<p><%= user.email() %></p>
                          				</div>

                          				<ul class="nav nav-pills nav-stacked">
                              					<li><a href="<%= urla("clientProfile") %>"> <i class="fa fa-user"></i> Profile</a></li>
                              					<li class="active"><a href="<%= urla("changeProfileForm") %>"> <i class="fa fa-edit"></i> Edit profile</a></li>
                              					<li><a href="<%= urla("changePickLocation") %>"> <i class="fa fa-map-marker"></i> Change Pick Location</a></li>          				
                          				</ul>
							</section>
                  				</aside>
                  				<aside class="profile-info col-lg-9">
                  					<section class="panel">
                  						<div class="bio-graph-heading">
							             Manage your own details. Change your password from the default one if you haven't done so already.
							      </div>
							      <div class="panel-body bio-graph-info">
								      <h1> Profile Info</h1>
                        						<%== formTag(urla("editProfile"), Tf::Post, "", a("class", "form-horizontal")) %>
                            						<div class="form-group">
                                						<label  class="col-lg-2 control-label">First Name</label>
                                						<div class="col-lg-6">
                                    							<input type="text" class="form-control" name="nfname" value="<%= user.firstname() %>" required>
                                						</div>
                            						</div>
                            						<div class="form-group">
                                						<label  class="col-lg-2 control-label">Last Name</label>
                                						<div class="col-lg-6">
                                    							<input type="text" class="form-control" name="nlname" value="<%= user.lastname() %>" required>
                                						</div>
                            						</div>
                            						<div class="form-group">
                                						<label  class="col-lg-2 control-label">Username</label>
                                						<div class="col-lg-6">
                                    							<input type="text" class="form-control" name="nuname" value="<%= user.username() %>" required>
                                						</div>
                            						</div>
                            						
                            						<div class="form-group">
                                						<div class="col-lg-offset-2 col-lg-10">
                                    							<button type="submit" class="btn btn-success">Update</button>
                                    							<button type="button" class="btn btn-default">Cancel</button>
                                						</div>
                            						</div>
                        						</form>
                        					</div>
                        				</section>
                        				<section>
                    					<div class="panel panel-primary">
                        						<div class="panel-heading"> Sets New Password</div>
                        						<div class="panel-body">
                            						<%== formTag(urla("changePassword"), Tf::Post, "", a("class", "form-horizontal")) %>
                                						<div class="form-group">
                                    							<label  class="col-lg-2 control-label">Current Password</label>
                                    							<div class="col-lg-6">
                                        							<input type="password" class="form-control" name="oldpass" placeholder=" " required>
                                    							</div>
                                						</div>
                                						<div class="form-group">
                                    							<label  class="col-lg-2 control-label">New Password</label>
                                    							<div class="col-lg-6">
                                        							<input type="password" class="form-control" name="newpass" placeholder=" " required>
                                    							</div>
                                						</div>
                                						<div class="form-group">
                                    							<label  class="col-lg-2 control-label">Re-type New Password</label>
                                    							<div class="col-lg-6">
                                        							<input type="password" class="form-control" name="rtpass" placeholder=" " required>
                                    							</div>
                                						</div>
                                						<div class="form-group">
                                    							<div class="col-lg-offset-2 col-lg-10">
                                        							<button type="submit" class="btn btn-info">Save</button>
                                        							<button type="button" class="btn btn-default">Cancel</button>
                                    							</div>
                                						</div>
                            						</form>
                        						</div>
                    					</div>
                					</section>
                  				</aside>
              			</div>
              			<!-- page end-->
          			</section>
      			</section>
      			<!--main content end-->

      			<!--footer start-->
      			<footer class="site-footer">
          			<div class="text-center">
              			&copy;2015 Aseda Designs.
              			<a href="#" class="go-top">
                  				<i class="fa fa-angle-up"></i>
              			</a>
          			</div>
      			</footer>
      			<!--footer end-->
  		</section>

    		<!-- js placed at the end of the document so the pages load faster -->
    		<script src="/flatlab/js/jquery.js"></script>
	    	<script src="/flatlab/js/bootstrap.min.js"></script>
	    	<script class="include" type="text/javascript" src="/flatlab/js/jquery.dcjqaccordion.2.7.js"></script>
	    	<script src="/flatlab/js/jquery.scrollTo.min.js"></script>
	    	<script src="/flatlab/js/jquery.nicescroll.js" type="text/javascript"></script>
	    	<script src="/flatlab/assets/jquery-knob/js/jquery.knob.js"></script>
	    	<script src="/flatlab/js/respond.min.js" ></script>

	  	<!--right slidebar-->
	  	<script src="/flatlab/js/slidebars.min.js"></script>

	    	<!--common script for all pages-->
	    	<script src="/flatlab/js/common-scripts.js"></script>

	  	<script>
	      		//knob
	      		$(".knob").knob();
	  	</script>
  	</body>
</html>