<!DOCTYPE html>
<%#include "client.h" %>
<% tfetch(Client, user); %>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

    		<title>Online Rentals:Shopfront - <%= controller()->name() %></title>

		<!-- Bootstrap core CSS -->
	    	<link href="/flatlab/css/bootstrap.min.css" rel="stylesheet">
	    	<link href="/flatlab/css/bootstrap-reset.css" rel="stylesheet">
	    	<!--external css-->
	    	<link href="/flatlab/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
	    	<!--right slidebar-->
	    	<link href="/flatlab/css/slidebars.css" rel="stylesheet">
	    	<!-- Custom styles for this template -->
	    	<link href="/flatlab/css/style.css" rel="stylesheet">
	    	<link href="/flatlab/css/style-responsive.css" rel="stylesheet" />
	    	<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
		<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />

	    	<!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
	    	<!--[if lt IE 9]>
	      		<script src="/flatlab/js/html5shiv.js"></script>
	      		<script src="/flatlab/js/respond.min.js"></script>
	    	<![endif]-->
	    	<style type="text/css">
			#map-row{
				height: 560px;
				margin: 0;
				padding: 2px;
				border: solid 2px #ddd;
				border-radius: 10px;
			}
			#map-canvas {
				height: 550px;
				margin: 0;
				padding: 2px;
				border: solid 2px #ddd;
				border-radius: 10px;
			}
			p.ui-distance {
				bottom:10px;
				padding:5px 10px;
				background:rgba(0,0,0,0.5);
				color:#fff;
				font-size:12px;
				line-height:18px;
				border-radius:3px;
				word-wrap: break-word;
			}
		</style>
	</head>

  	<body class="full-width">
  		<section id="container" class="">
  			<!--header start-->
      			<header class="header white-bg">
          			<!--logo start-->
          			<a href="" class="logo" >Online<span>Rentals</span></a>
          			<!--logo end-->
          			<!--nav start-->
          			<div class="top-nav ">
              			<ul class="nav pull-right top-menu">
                  				<li>
                      				<input type="text" class="form-control search" placeholder="Search">
                  				</li>
                  				<!-- user login dropdown start-->
                  				<li class="dropdown">
                      				<a data-toggle="dropdown" class="dropdown-toggle" href="#">
                          				<img alt="" src="/flatlab/img/avatar1_small1.jpg">
                          				<span class="username"><%= user.username() %></span>
                          				<b class="caret"></b>
                      				</a>
                      				<ul class="dropdown-menu">
                          				<div class="log-arrow-up"></div>
                          				<li><%== linkTo("<i class='fa fa-suitcase'></i> Profile", urla("clientProfile")) %></li>
                          				<li><%== linkTo("<i class='fa fa-sign-out'></i> Logout", urla("clientLogout")) %></li>
                      				</ul>
                  				</li>
                  				<!-- user login dropdown end -->
              			</ul>
          			</div>
          			<!--nav end-->
      			</header>
      			<!--header end-->
      			
      			<!--main content start-->
      			<section id="main-content">
          			<section class="wrapper">
              			<!-- page start-->
              			<div class="row">
                  				<aside class="profile-nav col-lg-3">
                      				<section class="panel">
                          				<div class="user-heading round">
                              					<a href="#">
                                  					<img src="/flatlab/img/profile-avatar.jpg" alt="">
                              					</a>
                              					<h1><%= user.firstname() + " " + user.lastname() %></h1>
                              					<p><%= user.email() %></p>
                          				</div>

                          				<ul class="nav nav-pills nav-stacked">
                              					<li class="active"><a href="<%= urla("clientProfile") %>"> <i class="fa fa-user"></i> Profile</a></li>
                              					<li><a href="<%= urla("changeProfileForm") %>"> <i class="fa fa-edit"></i> Edit profile</a></li>
                              					<li><a href="<%= urla("changePickLocation") %>"> <i class="fa fa-map-marker"></i> Change Pick Location</a></li>          				
                          				</ul>
							</section>
                  				</aside>
                  				<aside class="profile-info col-lg-9">
                      				<section class="panel">
							      <div class="bio-graph-heading">
							             Find your current location to aid you choose the nearest rental house as your pick location.
							      </div>
							      <div class="panel-body bio-graph-info">
								      <div class="row" id="map-row">
										<div class="col-xs-5 col-sm-4 col-md-3">
											<button id='geolocate'>Click me to find your location</button><br>
											<p id='distance' class='ui-distance'>Hover over a marker and see the distance between your current location and a rental house. Please click the button above to locate your current address.</p>
											<br>

											<%== formTag(urla("changeLocation")) %>
												<div class="form-group">
		                                						<label  class="sr-only">Location</label>
		                                						<div>
		                                    							<input type="text" class="form-control" name="nlocation" id="location" value="" required>
		                                						</div>
		                            						</div>
		                            						<div class="form-group">
	                                    							<div>
	                                        							<button type="submit" class="btn btn-info">Update</button>
	                                        							<button type="reset" class="btn btn-default">Reset</button>
	                                    							</div>
	                                						</div>
											</form>	
										</div>
										<div id="map-canvas" class="col-xs-7 col-sm-8 col-md-9"></div>
									</div>
								</div>
							</section>
                  				</aside>
              			</div>
              			<!-- page end-->
          			</section>
      			</section>
      			<!--main content end-->

      			<!--footer start-->
      			<footer class="site-footer">
          			<div class="text-center">
              			&copy;2015 Aseda Designs.
              			<a href="#" class="go-top">
                  				<i class="fa fa-angle-up"></i>
              			</a>
          			</div>
      			</footer>
      			<!--footer end-->
  		</section>

    		<!-- js placed at the end of the document so the pages load faster -->
    		<script src="/flatlab/js/jquery.js"></script>
	    	<script src="/flatlab/js/bootstrap.min.js"></script>
	    	<script class="include" type="text/javascript" src="/flatlab/js/jquery.dcjqaccordion.2.7.js"></script>
	    	<script src="/flatlab/js/jquery.scrollTo.min.js"></script>
	    	<script src="/flatlab/js/jquery.nicescroll.js" type="text/javascript"></script>
	    	<script src="/flatlab/js/respond.min.js" ></script>
	    	<script src="/flatlab/js/complete.ly.1.0.1.min.js" ></script>

	  	<!--right slidebar-->
	  	<script src="/flatlab/js/slidebars.min.js"></script>

	    	<!--common script for all pages-->
	    	<script src="/flatlab/js/common-scripts.js"></script>

	  	<script>
			L.mapbox.accessToken = 'pk.eyJ1IjoibmVuZXBhZGkiLCJhIjoiWDl5dk0tYyJ9.A3iSN0zfrpApthOewLcKCw';
			var geolocate = document.getElementById('geolocate');
			var map = L.mapbox.map('map-canvas', 'nenepadi.kp6jnh0h').setView([41.9000, 12.4833], 6);
			var markers = [];
			var fixedMarker;
			var featureLayer = L.mapbox.featureLayer().addTo(map);
			var geocoder = L.mapbox.geocoder('mapbox.places');

			var allLocations = [];

			if (!navigator.geolocation) {
	    			geolocate.innerHTML = 'Geolocation is not available';
			} else {
	    			geolocate.onclick = function (e) {
	        			e.preventDefault();
	        			e.stopPropagation();
	        			map.locate();
	    			};
			}

			map.on('locationfound', function(e) {
				fixedMarker = L.marker(new L.LatLng(e.latlng.lat, e.latlng.lng), {
	    				icon: L.mapbox.marker.icon({
	        					'marker-color': '#984049',
	        					'marker-symbol': 'pitch'
	    				})
				}).bindPopup('Here you are').addTo(map);

	    			geolocate.innerHTML = 'You are in: ' + e.latlng;
			});

			map.on('locationerror', function() {
	    			geolocate.innerHTML = 'Position could not be found';
			});

			$.getJSON('/locations.json', function(data) {
	        		for(var i in data.locations){
	        			allLocations.push(data.locations[i].locationName);
	        			var marker = L.mapbox.featureLayer().addTo(map);
	    				marker.setGeoJSON({
	        				type: 'Feature',
	        				geometry: {
	            					type: 'Point',
	            					coordinates: [data.locations[i].longitude, data.locations[i].latitude]
	       				 },
	        				properties: {
	            					'title': data.locations[i].locationName,
	            					'marker-color': '#ff8888',
	            					'marker-symbol': 'cinema'
	        				}
	    				});
	    				marker.on('mouseover', function(e) {
	    					var fc = fixedMarker.getLatLng();
	    					var c = e.latlng;
	    					featureLayer.setGeoJSON({
	    						type: 'Feature',
		        					geometry: {
		            					type: 'LineString',
		            					coordinates: [
		            						[fc.lng, fc.lat],
	            							[c.lng, c.lat]
		            					]
		       				 	},
		        				properties: {
		            					'stroke': "#000",
	          						'stroke-opacity': 0.5,
	          						'stroke-width': 4
		        				}
	    					});
	    					var container = document.getElementById('distance');
	    					container.innerHTML = 'The distance from your location to the rental house you have hovered over is : <b>' + fc.distanceTo(c).toFixed(0) + '</b> meters';
					});
	    				marker.on('mouseout', function(){
	    					featureLayer.removeLayer(map);
	    				});
	            				markers.push(marker);
	        		}
	  		});

			var auto = completely(document.getElementById('location'));
   			auto.options = allLocations;
   			//auto.repaint(); 
   			setTimeout(function() {
   				auto.input.focus();
   			},0);
		</script>
  	</body>
</html>