<!DOCTYPE html>
<%#include "client.h" %>
<%#include "possiblelocations.h" %>
<% tfetch(Client, user); %>
<% tfetch(PossibleLocations, location); %>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

    		<title>Online Rentals:Shopfront - <%= controller()->name() %></title>

		<!-- Bootstrap core CSS -->
	    	<link href="/flatlab/css/bootstrap.min.css" rel="stylesheet">
	    	<link href="/flatlab/css/bootstrap-reset.css" rel="stylesheet">
	    	<!--external css-->
	    	<link href="/flatlab/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
	    	<!--right slidebar-->
	    	<link href="/flatlab/css/slidebars.css" rel="stylesheet">
	    	<!-- Custom styles for this template -->
	    	<link href="/flatlab/css/style.css" rel="stylesheet">
	    	<link href="/flatlab/css/style-responsive.css" rel="stylesheet" />
	    	<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
		<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />

	    	<!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
	    	<!--[if lt IE 9]>
	      		<script src="/flatlab/js/html5shiv.js"></script>
	      		<script src="/flatlab/js/respond.min.js"></script>
	    	<![endif]-->
	    	<style type="text/css">
			#map-canvas {
				height: 550px;
				margin: 0;
				padding: 2px;
				border: solid 2px #ddd;
				border-radius: 10px;
			}
		</style>
	</head>

  	<body class="full-width">
  		<section id="container" class="">
  			<!--header start-->
      			<header class="header white-bg">
          			<!--logo start-->
          			<a href="" class="logo" >Online<span>Rentals</span></a>
          			<!--logo end-->
          			<!--nav start-->
          			<div class="top-nav ">
              			<ul class="nav pull-right top-menu">
                  				<li>
                      				<input type="text" class="form-control search" placeholder="Search">
                  				</li>
                  				<!-- user login dropdown start-->
                  				<li class="dropdown">
                      				<a data-toggle="dropdown" class="dropdown-toggle" href="#">
                          				<img alt="" src="/flatlab/img/avatar1_small1.jpg">
                          				<span class="username"><%= user.username() %></span>
                          				<b class="caret"></b>
                      				</a>
                      				<ul class="dropdown-menu">
                          				<div class="log-arrow-up"></div>
                          				<li><%== linkTo("<i class='fa fa-suitcase'></i> Profile", urla("clientProfile")) %></li>
                          				<li><%== linkTo("<i class='fa fa-sign-out'></i> Logout", urla("clientLogout")) %></li>
                      				</ul>
                  				</li>
                  				<!-- user login dropdown end -->
              			</ul>
          			</div>
          			<!--nav end-->
      			</header>
      			<!--header end-->
      			
      			<!--main content start-->
      			<section id="main-content">
          			<section class="wrapper">
              			<!-- page start-->
              			<div class="row">
                  				<aside class="profile-nav col-lg-3">
                      				<section class="panel">
                          				<div class="user-heading round">
                              					<a href="#">
                                  					<img src="/flatlab/img/profile-avatar.jpg" alt="">
                              					</a>
                              					<h1><%= user.firstname() + " " + user.lastname() %></h1>
                              					<p><%= user.email() %></p>
                          				</div>

                          				<ul class="nav nav-pills nav-stacked">
                              					<li class="active"><a href="<%= urla("clientProfile") %>"> <i class="fa fa-user"></i> Profile</a></li>
                              					<li><a href="<%= urla("changeProfileForm") %>"> <i class="fa fa-edit"></i> Edit profile</a></li>
                              					<li><a href="<%= urla("changePickLocation") %>"> <i class="fa fa-map-marker"></i> Change Pick Location</a></li>          				
                          				</ul>
							</section>
                  				</aside>
                  				<aside class="profile-info col-lg-9">
                      				<section class="panel">
							      <div class="bio-graph-heading">
							             Your details all in one place. We guarantee a secure storage of your details and have no intention of using it for any secondary purpose.
							      </div>
							      <div class="panel-body bio-graph-info">
								      <h1>User Details</h1>
								  	<div class="row">
										<div class="bio-row">
											<p><span>First Name </span>: <%= user.firstname() %></p>
										</div>
										<div class="bio-row">
											<p><span>Last Name </span>: <%= user.lastname() %></p>
										</div>
										<div class="bio-row">
											<p><span>Email </span>:  <%= user.email() %></p>
										</div>
										<div class="bio-row">
											<p><span>Pick location </span>:  <%= user.pickLocation() %></p>
										</div>
										<div class="bio-row">
											<p><span>Entitlements </span>:  <%= user.entitledNumberMovies() %></p>
										</div>
										<div class="bio-row">
											<p><span>Are you active? </span>:  <%= user.isActive() %></p>
										</div>
									</div>
								</div>
							</section>
							<section>
                    					<div class="panel panel-primary">
                        						<div class="panel-heading">Your current pick location</div>
                        						<div class="panel-body">
                            						<div id="map-canvas"></div>
                            						<p id = "lat" style="display: none;"><%= location.latitude() %></p>
                            						<p id = "lng" style="display: none;"><%= location.longitude() %></p>
                        						</div>
                    					</div>
                					</section>
                  				</aside>
              			</div>
              			<!-- page end-->
          			</section>
      			</section>
      			<!--main content end-->

      			<!--footer start-->
      			<footer class="site-footer">
          			<div class="text-center">
              			&copy;2015 Aseda Designs.
              			<a href="#" class="go-top">
                  				<i class="fa fa-angle-up"></i>
              			</a>
          			</div>
      			</footer>
      			<!--footer end-->
  		</section>

    		<!-- js placed at the end of the document so the pages load faster -->
    		<script src="/flatlab/js/jquery.js"></script>
	    	<script src="/flatlab/js/bootstrap.min.js"></script>
	    	<script class="include" type="text/javascript" src="/flatlab/js/jquery.dcjqaccordion.2.7.js"></script>
	    	<script src="/flatlab/js/jquery.scrollTo.min.js"></script>
	    	<script src="/flatlab/js/jquery.nicescroll.js" type="text/javascript"></script>
	    	<script src="/flatlab/js/respond.min.js" ></script>

	  	<!--right slidebar-->
	  	<script src="/flatlab/js/slidebars.min.js"></script>

	    	<!--common script for all pages-->
	    	<script src="/flatlab/js/common-scripts.js"></script>

	  	<script>
	  	console.log(document.getElementById("lng").innerHTML);
			L.mapbox.accessToken = 'pk.eyJ1IjoibmVuZXBhZGkiLCJhIjoiWDl5dk0tYyJ9.A3iSN0zfrpApthOewLcKCw';
			var map = L.mapbox.map('map-canvas', 'nenepadi.kp6jnh0h').setView([document.getElementById("lat").innerHTML, document.getElementById("lng").innerHTML], 7);
			var fixedMarker = L.marker(new L.LatLng(document.getElementById("lat").innerHTML, document.getElementById("lng").innerHTML), {
    				icon: L.mapbox.marker.icon({
        					'marker-color': '#ff8888',
        					'marker-symbol': 'cinema'
    				})
			}).addTo(map);
		</script>
  	</body>
</html>