<!DOCTYPE html>
<html lang="en">
  	<head>
	    	<meta charset="utf-8">
	    	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	    	<title>Movie Rentals - User Login</title>

	    	<link href="/worker/css/bootstrap.css" rel="stylesheet">
	    	<link href="/common/font-awesome/css/font-awesome.css" rel="stylesheet" />

		<!-- Custom styles for this template -->
		<link href="/worker/css/style.css" rel="stylesheet">
		<link href="/worker/css/style-responsive.css" rel="stylesheet">

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		      	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
  	</head>

  	<body>
	  	<div id="login-page">
	  		<div class="container">
	  			<%== formTag(urla("clientLogin"), Tf::Post, "", a("class", "form-login")) %>
		        		<h2 class="form-login-heading">user login</h2>
		        		<div class="login-wrap">
		        			<div><%==$errorMessage %></div>
		        			<input type="email" id="email" name="email" value="" placeholder="name@domain.com" class="form-control" autofocus>
		            			<br>
		            			<input type="password" id="password" name="password" value="" placeholder="Password" class="form-control">
		            			<label class="checkbox">
		                			<span class="pull-right">
		                    			<a data-toggle="modal" href="#myModal"> Forgot Password?</a>
		                			</span>
		            			</label>
		            			<button class="btn btn-theme btn-block" type="submit"><i class="fa fa-lock"></i> SIGN IN</button>
		            		</div>
		      		</form>

		      		<!-- Modal -->
	          		<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
	              		<div class="modal-dialog">
	                  			<div class="modal-content">
	                      			<div class="modal-header">
	                          			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	                          			<h4 class="modal-title">Forgot Password ?</h4>
	                      			</div>
	                      			<div class="modal-body">
	                          			<p>Enter your e-mail address below to reset your password.</p>
	                          			<input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">
	                      			</div>
			                      	<div class="modal-footer">
			                          	<button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
			                          	<button class="btn btn-theme" type="button">Submit</button>
			                      	</div>
	                  			</div>
	              		</div>
	          		</div>
		    	</div>
	  	</div>
	    	<!-- js placed at the end of the document so the pages load faster -->
	    	<script src="/worker/js/jquery.js"></script>
	    	<script src="/worker/js/bootstrap.min.js"></script>
	    	<!--BACKSTRETCH-->
	    	<!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
	    	<script type="text/javascript" src="/worker/js/jquery.backstretch.min.js"></script>
	    	<script>
	        	$.backstretch("/worker/img/login-bg.jpg", {speed: 500});
	    	</script>
  	</body>
</html>
