<!DOCTYPE html>
<%#include "rentalagent.h" %>
<% tfetch(RentalAgent, agent) %>
<html lang="en">
  	<head>
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta name="description" content="">
    	<meta name="author" content="Dashboard">
    	<meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    	<title>Online Rentals - Change Password</title>

    	<link href="/worker/css/bootstrap.css" rel="stylesheet">
    	<link href="/common/font-awesome/css/font-awesome.css" rel="stylesheet" />
        
	    <!-- Custom styles for this template -->
	    <link href="/worker/css/style.css" rel="stylesheet">
	    <link href="/worker/css/style-responsive.css" rel="stylesheet">

	    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->
  	</head>

  	<body>
	  	<div id="login-page">
	  		<div class="container">
	  			<%== formTag(urla("passwordChange"), Tf::Post, "", a("class", "form-login")) %>
			        	<h2 class="form-login-heading">change password</h2>
			        	<div class="login-wrap">
			        		<div><%==$error %></div>
			        		<input type="password" id="opass" name="opass" class="form-control" autofocus placeholder="Type old password"  required>
			            		<br>
			            		<input type="password" id="npass" name="npass" placeholder="Type new password" class="form-control">
			            		<br>
			            		<input type="password" id="rpass" name="rpass" placeholder="Re-type new password" class="form-control">
			            		<br>
			            		<% if(agent.role() == "administrator"){ %>
			            			<a class="btn btn-danger btn-block" href="/Admin/index"><i class="fa fa-arrow-circle-o-left"></i> CANCEL</a>
			            		<% } else{ %>
			            			<a class="btn btn-danger btn-block" href="/Staff/staff_dash"><i class="fa fa-arrow-circle-o-left"></i> CANCEL</a>
			            		<% } %>
			            		<button class="btn btn-theme btn-block" type="submit"><i class="fa fa-lock"></i> UPDATE</button>
			            </div>
		      		</form>
		    	</div>
	  	</div>

	    	<!-- js placed at the end of the document so the pages load faster -->
	    	<script src="/worker/js/jquery.js"></script>
	    	<script src="/worker/js/bootstrap.min.js"></script>

	    	<!--BACKSTRETCH-->
	    	<!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
	    	<script type="text/javascript" src="/worker/js/jquery.backstretch.min.js"></script>
	    	<script>
	       	$.backstretch("/worker/img/login-bg.jpg", {speed: 500});
	    	</script>
  	</body>
</html>