<!DOCTYPE html>
<html lang="en">
	<head>
	    	<meta charset="utf-8">
	    	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	    	<title>Online Rentals:Administrator - <%= controller()->name() %></title>

	    	<!-- Bootstrap core CSS -->
	    	<link href="/flatlab/css/bootstrap.min.css" rel="stylesheet">
	    	<link href="/flatlab/css/bootstrap-reset.css" rel="stylesheet">
	    	<!--external css-->
	    	<link href="/flatlab/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
	    	<link href="/flatlab/assets/jquery-ui/jquery-ui-1.10.1.custom.min.css" rel="stylesheet"/>
	    	<link href="/flatlab/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen"/>
    		<link rel="stylesheet" href="/flatlab/css/owl.carousel.css" type="text/css">
    		<!--datatable-->
    		<link href="/flatlab/assets/advanced-datatable/media/css/demo_page.css" rel="stylesheet" />
      		<link href="/flatlab/assets/advanced-datatable/media/css/demo_table.css" rel="stylesheet" />
      		<link rel="stylesheet" href="/flatlab/assets/data-tables/DT_bootstrap.css" />
	    	<!--datepicker-->
	    	<link rel="stylesheet" type="text/css" href="/flatlab/assets/bootstrap-datepicker/css/datepicker.css" />
      		<script src="/flatlab/js/jquery.js"></script>
            	<link rel="stylesheet" type="text/css" href="/flatlab/assets/nestable/jquery.nestable.css" />

		<!--right slidebar-->
		<link href="/flatlab/css/slidebars.css" rel="stylesheet">
		<!-- Custom styles for this template -->
		<link href="/flatlab/css/style.css" rel="stylesheet">
		<link href="/flatlab/css/style-responsive.css" rel="stylesheet" />
      		
	    	<!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
	    	<!--[if lt IE 9]>
	      <script src="/flatlab/js/html5shiv.js"></script>
	      <script src="/flatlab/js/respond.min.js"></script>
	    	<![endif]-->
	</head>

  	<body>
  		<section id="container" class="">
      			<!--header start-->
      			<header class="header white-bg">
      				<div class="sidebar-toggle-box">
              			<div data-original-title="Toggle Navigation" data-placement="right" class="fa fa-bars tooltips"></div>
          			</div>
          			<!--logo start-->
          			<a href="" class="logo" >Online<span>Rentals</span></a>
          			<!--logo end-->
          			<!--nav start-->
          			<div class="top-nav ">
              			<ul class="nav pull-right top-menu">
                  				<li><input type="text" class="form-control search" placeholder="Search"></li>
                  				<!-- user login dropdown start-->
                  				<li class="dropdown">
                      				<a data-toggle="dropdown" class="dropdown-toggle" href="#">
                          				<img alt="" src="/flatlab/img/avatar1_small.jpg">
                          				<span class="username">Administrator</span>
                          				<b class="caret"></b>
                      				</a>
                      				<ul class="dropdown-menu">
                          				<div class="log-arrow-up"></div>
                          				<li><%== linkTo("<i class='fa fa-key'></i> Change Password", url("Account", "passwordForm")) %></li>
                          				<li><%== linkTo("<i class='fa fa-lock'></i> Lock Screen", url("Account", "lockScreenForm")) %></li>
                          				<li><%== linkTo("<i class='fa fa-sign-out'></i> Logout", url("Account", "staffLogout")) %></li>
                      				</ul>
                  				</li>
                  				<!-- user login dropdown end -->
              			</ul>
          			</div>
          			<!--nav end-->
      			</header>
      			<!--header end-->

      			<!--sidebar start-->
      			<%== renderPartial("admin_navigation") %>
      			<!--sidebar end-->

      			<!--main content start-->
      			<section id="main-content">
          			<%== yield() %>
      			</section>
      			<!--main content end-->

      			<!--footer start-->
      			<footer class="site-footer">
          			<div class="text-center">
              			&copy;2015 Aseda Designs.
              			<a href="#" class="go-top">
                  				<i class="fa fa-angle-up"></i>
              			</a>
          			</div>
      			</footer>
      			<!--footer end-->
  		</section>

    		<!-- js placed at the end of the document so the pages load faster -->
      
    		<script src="/flatlab/js/bootstrap.min.js"></script>
    		<script class="include" type="text/javascript" src="/flatlab/js/jquery.dcjqaccordion.2.7.js"></script>
    		<script src="/flatlab/js/jquery.scrollTo.min.js"></script>
    		<script src="/flatlab/js/jquery.nicescroll.js" type="text/javascript"></script>
    		<script src="/flatlab/js/jquery.sparkline.js" type="text/javascript"></script>
    		<script src="/flatlab/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
    		<script src="/flatlab/js/owl.carousel.js" ></script>
    		<script src="/flatlab/js/jquery.customSelect.min.js" ></script>
    		<script src="/flatlab/js/respond.min.js" ></script>
    		<script src="/flatlab/js/jquery-migrate-1.2.1.min.js"></script>
    		<script type="text/javascript" language="javascript" src="/flatlab/assets/advanced-datatable/media/js/jquery.dataTables.js"></script>
            	<script type="text/javascript" src="/flatlab/assets/data-tables/DT_bootstrap.js"></script>
    		<script src="/flatlab/js/dynamic_table_init.js"></script>

    		<!--right slidebar-->
    		<script src="/flatlab/js/slidebars.min.js"></script>

    		<!--common script for all pages-->
    		<script src="/flatlab/js/common-scripts.js"></script>

    		<!--script for this page-->
    		<script src="/flatlab/js/sparkline-chart.js"></script>
    		<script src="/flatlab/js/easy-pie-chart.js"></script>
    		<script src="/flatlab/js/count.js"></script>

      		<script type="text/javascript">
      			$(document).ready(function(){
          			$("#owl-demo").owlCarousel({
              			navigation : true,
              			slideSpeed : 300,
              			paginationSpeed : 400,
              			singleItem : true,
			  		autoPlay:true
          			});
      			});

          		$(document).ready(function() {
              		$(function(){
                  			$('select').customSelect();
              		});
          		});
      		</script>
	</body>
</html>
