<!DOCTYPE html>
<html class="home" lang="">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="flat, clean, responsive, application frontend template built with bootstrap 3">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Online Rentals:Landing page - <%= controller()->name() %></title>
		<link rel="stylesheet" href="/common/plugins/owl-carousel/owl.carousel.css">
		<link rel="stylesheet" href="/common/plugins/owl-carousel/owl.theme.css">
		<link rel="stylesheet" href="/common/plugins/owl-carousel/owl.transitions.css">
		<link rel="stylesheet" href="/common/plugins/magnific-popup/magnific-popup.css">
		<link rel="stylesheet" href="/common/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="/common/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="/common/themify-icons/themify-icons.css">
		<link rel="stylesheet" href="/landing/css/animate.min.css">
		<link rel="stylesheet" href="/landing/css/skin/blue.css" id="skin">
		<link rel="stylesheet" href="/landing/css/fonts/opensans.css" id="font">
		<link rel="stylesheet" href="/landing/css/main.css">
		<!--[if lt IE 9]><script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script><script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script><![endif]-->

		<style type="text/css">
			#map-row{
				height: 560px;
				margin: 0;
				padding: 2px;
				border: solid 2px #ddd;
				border-radius: 10px;
			}
			#map-canvas {
				height: 550px;
				margin: 0;
				padding: 2px;
				border: solid 2px #ddd;
				border-radius: 10px;
			}
			p.ui-distance {
				bottom:10px;
				padding:5px 10px;
				background:rgba(0,0,0,0.5);
				color:#fff;
				font-size:12px;
				line-height:18px;
				border-radius:3px;
				word-wrap: break-word;
			}
		</style>

		<link rel="stylesheet" href="/landing/css/panel.css">
		<script src="/common/plugins/jquery-1.11.1.min.js"></script>
		<script src="/common/plugins/modernizr.js"></script>
		<!--script type="text/javascript"
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZImRWLGyynQaujHrgyifDmjz-wnne3oI"></script-->
		<script src="/locations.json"></script>
		<!--script src="/flatlab/js/maps.js"></script-->
		<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
		<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />
	</head>
	<body>
		<header class="header">
			<div class="container">
				<nav class="heading-font">
					<div class="branding">
						<button type="button" class="mobile-toggle">
							<span class="ti-menu"></span>
						</button>
						<!-- <a href="/Home" class="logo transition"> Movie Rentals </a> -->
						<%== linkTo("Online Rentals", url("Home", "index"), Tf::Get, "", a("class", "logo transition")) %>
					</div>
					<div class="navigation spy">
						<ul class="nav">
							<li class="hide"><a href="#top"></a></li>
							<li><a href="#how">How it works</a></li>
							<li><a href="#pricing">Pricing</a></li>
							<li><a href="#contact">Contact us</a></li>
							<li class="dropdown show-on-hover">
								<a href="javascript:;" class="ignore" data-toggle="dropdown">
									<span>Terms & Conditions</span>
								</a>
								<ul class="dropdown-menu">
									<li><a href="#" class="transition" onclick="getLocations()">Privacy Policy</a></li>
									<li><a href="" class="transition">Pricing</a></li>
								</ul>
							</li>
							<li><%== linkTo("Login", url("Account", "clientLoginForm"), Tf::Get, "", a("class", "transition")) %></li>
							<li><%== linkTo("Administrator", url("Account", "staffLoginForm"), Tf::Get, "", a("class", "nav-btn btn btn-success btn-rounded transition")) %></li>
						</ul>
					</div>
				</nav>
			</div>
		</header>

		<%== yield() %>

		<footer class="content-section">
			<div class="container">
				<div class="row text-center">
					<div class="col-sm-12 mb25">
						<a class="btn btn-primary btn-social-icon btn-rounded btn-outline btn-sm smooth-scroll mb25" href="#top"><i class="ti-angle-up"></i></a><br>
						<a class="btn btn-social-icon btn-facebook btn-rounded btn-sm ml5 mr5" href="javascript:;"><i class="fa fa-facebook"></i></a>
						<a class="btn btn-social-icon btn-twitter btn-rounded btn-sm ml5 mr5" href="javascript:;"><i class="fa fa-twitter"></i></a>
						<a class="btn btn-social-icon btn-google-plus btn-rounded btn-sm ml5 mr5" href="javascript:;"><i class="fa fa-google-plus"></i></a>
					</div>
					<div class="col-sm-12 mb25">
						<small class="show">&copy;&nbsp;Copyright Aseda<span class="color">Designs</span>&nbsp;<span class="year"></span>. All rights reserved</small>
					</div>
				</div>
			</div>
		</footer>

		<script src="/common/bootstrap/js/bootstrap.js"></script>
		<script src="/common/plugins/appear/jquery.appear.js"></script>
		<script src="/common/plugins/nav/jquery.nav.js"></script>
		<script src="/common/plugins/jquery.easing.min.js"></script>
		<script src="/common/plugins/jquery.parallax.js"></script>
		<script src="/common/plugins/isotope/isotope.pkgd.min.js"></script>
		<script src="/common/plugins/count-to/jquery.countTo.js"></script>
		<script src="/common/plugins/owl-carousel/owl.carousel.min.js"></script>
		<script src="/common/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
		<script src="/landing/js/main.js"></script>
		<script src="/landing/js/subscribe.js"></script>
		<script src="/landing/js/demo_home.js"></script>
		<script src="/landing/js/panel.js"></script>
	</body>
</html>
