<!DOCTYPE html>
<%#include "category.h" %>
<%#include "client.h" %>
<% tfetch(Client, client); %>
<% tfetch(QList<Category>, categoryList); %>
<html lang="en">
	<head>
		<meta charset="utf-8">
	    	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	    	<title>Online Rentals:Shopfront - <%= controller()->name() %></title>

	    	<!-- Bootstrap core CSS -->
	    	<link href="/flatlab/css/bootstrap.min.css" rel="stylesheet">
	    	<link href="/flatlab/css/bootstrap-reset.css" rel="stylesheet">
	    	<!--external css-->
	    	<link href="/flatlab/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
	    	<link href="/flatlab/assets/jquery-ui/jquery-ui-1.10.1.custom.min.css" rel="stylesheet"/>
	      <!--right slidebar-->
	      <link href="/flatlab/css/slidebars.css" rel="stylesheet">
	    	<!-- Custom styles for this template -->
	    	<link href="/flatlab/css/style.css" rel="stylesheet">
	    	<link href="/flatlab/css/style-responsive.css" rel="stylesheet" />

	    	<!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
	    	<!--[if lt IE 9]>
	      		<script src="/flatlab/js/html5shiv.js"></script>
	      		<script src="/flatlab/js/respond.min.js"></script>
	    	<![endif]-->
      		<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js"></script>
      		<script src="https://raw.githubusercontent.com/javve/list.pagination.js/v0.1.1/dist/list.pagination.min.js"></script>
	</head>

  	<body class="full-width" id="movies">
  		<section id="container" class="">
      			<!--header start-->
      			<header class="header white-bg">
          			<!--logo start-->
          			<a href="" class="logo" >Online<span>Rentals</span></a>
          			<!--logo end-->
          			<!--nav start-->
          			<div class="top-nav ">
              			<ul class="nav pull-right top-menu">
	                  			<li><input type="text" class="form-control search" placeholder="Search"></li>
	                  			<!-- user login dropdown start-->
	                  			<li class="dropdown">
	                      			<a data-toggle="dropdown" class="dropdown-toggle" href="#">
	                          			<img alt="" src="/flatlab/img/avatar1_small1.jpg">
	                          			<span class="username"><%= client.username() %></span>
	                          			<b class="caret"></b>
	                      			</a>
	                      			<ul class="dropdown-menu">
	                          			<div class="log-arrow-up"></div>
	                          			<li><%== linkTo("<i class='fa fa-suitcase'></i> Profile", url("Account", "clientProfile")) %></li>
	                          			<li><%== linkTo("<i class='fa fa-sign-out'></i> Logout", url("Account", "clientLogout")) %></li>
	                      			</ul>
	                  			</li>
	                  			<!-- user login dropdown end -->
	              		</ul>
          			</div>
          			<!--nav end-->
      			</header>
      			<!--header end-->

      			<!--main content start-->
      			<section id="main-content">
          			<section class="wrapper">
              			<!-- page start-->
              			<div class="row">
              				<!--sidebar start-->
                  				<div class="col-md-3">
                      				<!--category start-->
                      				<section class="panel">
                          				<header class="panel-heading">
                              					Category
                          				</header>
                          				<div class="panel-body">
                              					<ul class="nav prod-cat">
                              						<% if(controller()->activeAction() == "index"){ %>
                              							<li class="active"><a href="<%= urla("index") %>"><i class='fa fa-angle-right'></i> All Movies</a></li>
                              						<% } else{ %>
                              							<li><a href="<%= urla("index") %>"><i class='fa fa-angle-right'></i> All Movies</a></li>
                              						<% } %>
                              							
                              						<% foreach(Category c, categoryList){ %>
                                  						<li><%== linkTo("<i class='fa fa-angle-right'></i> " + c.categoryName(), urla("getByCategory", c.categoryName())) %></li>
                                  					<% } %>
                              					</ul>
                          				</div>
                      				</section>
                      				<!--category end-->
                  				</div>
                  				<!--sidebar end-->
                  				<!--content start-->
                  				<div class="col-md-9">
                      				<%== yield() %>
                  				</div>
                  				<!--content end-->
              			</div>
              			<!-- page end-->
          			</section>
      			</section>
      			<!--main content end-->

      			<!--footer start-->
      			<footer class="site-footer">
          			<div class="text-center">
              			&copy;2015 Aseda Designs.
              			<a href="#" class="go-top">
                  				<i class="fa fa-angle-up"></i>
              			</a>
          			</div>
      			</footer>
      			<!--footer end-->
  		</section>

    		<!-- js placed at the end of the document so the pages load faster -->
    		<script src="/flatlab/js/jquery.js"></script>
    		<script src="/flatlab/js/bootstrap.min.js"></script>
    		<script class="include" type="text/javascript" src="/flatlab/js/jquery.dcjqaccordion.2.7.js"></script>
    		<script src="/flatlab/js/jquery.scrollTo.min.js"></script>
    		<script src="/flatlab/js/jquery.nicescroll.js" type="text/javascript"></script>
    		<script src="/flatlab/assets/jquery-ui/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
    		<script src="/flatlab/js/jquery.ui.touch-punch.min.js"></script>
    		<script src="/flatlab/js/jquery.customSelect.min.js" ></script>
    		<script src="/flatlab/js/respond.min.js" ></script>
  		<!--right slidebar-->
  		<script src="/flatlab/js/slidebars.min.js"></script>
    		<!--common script for all pages-->
    		<script src="/flatlab/js/common-scripts.js"></script>

      		<script type="text/javascript">
          		$(document).ready(function() {
              		$(function(){
                  			$('select').customSelect();
              		});
          		});
      		</script>
	</body>
</html>
