<%#include "client.h" %>
<% tfetch(QList<Client>, clients); %>
<section class="wrapper">
    	<!-- page start-->
    	<div class="row">
       	<div class="col-sm-12">
            		<section class="panel">
              		<header class="panel-heading">
                  			<b>All Clients</b>
             			<span class="tools pull-right">
                				<a href="javascript:;" class="fa fa-chevron-down"></a>
                				<a href="javascript:;" class="fa fa-times"></a>
             			</span>
              		</header>
              		<div class="panel-body">
              			<div class="adv-table">
              				<table  class="display table table-bordered table-striped" id="dynamic-table">
              					<thead>
              						<tr>
                  							<th>Username</th>
                  							<th>Email</th>
                  							<th>Pick Location</th>
                  							<th class="hidden-phone">Is Active</th>
                  							<th class="hidden-phone">Entitled Number Movies</th>
              						</tr>
              					</thead>
              					<tbody>
              						<% foreach(Client cl, clients){ %>
	              					<tr class="gradeA">
	                  						<td><%= cl.username() %></td>
	                  						<td><%= cl.email() %></td>
	                  						<td><%= cl.pickLocation() %></td>
	                  						<% if(cl.isActive()){ %>
	                  							<td class="center hidden-phone"><i class="fa fa-check-square-o" style="color: green;"></i></td>
	                  						<% } else{ %>
	                  							<td class="center hidden-phone"><i class="fa fa-square-o" style="color: red;"></i></td>
	                  						<% } %>
	                  						<td class="center hidden-phone"><%= cl.entitledNumberMovies() %></td>
	              					</tr>
              						<% } %>
              					</tbody>
              					<tfoot>
              						<tr>
                  							<th>Username</th>
                  							<th>Email</th>
                  							<th>Pick Location</th>
                  							<th class="hidden-phone">Is Active</th>
                  							<th class="hidden-phone">Entitled Number Movies</th>
              						</tr>
              					</tfoot>
              				</table>
              			</div>
              		</div>
            		</section>
        	</div>
    	</div>
    	<!-- page end-->
</section>
