<%#include "item.h" %>
<% tfetch(QList<Item>, itemList); %>
<section class="wrapper">
    	<!-- page start-->
    	<div class="row">
       	<div class="col-sm-12">
            		<section class="panel">
              		<header class="panel-heading">
              			<b>All Items</b>
              			<span class="tools pull-right">
                   				<a href="<%= urla("item_entry") %>" id="create" class="btn btn-shadow btn-success btn-xs" data-toggle="tooltip" title="Create new item"><i class='fa fa-plus'></i></a>
              				<a href="javascript:;" class="fa fa-chevron-down"></a>
              				<a href="javascript:;" class="fa fa-times"></a>
            				</span>
        			</header>
              		<div class="panel-body">
              			<div class="adv-table">
              				<table  class="display table table-bordered table-striped" id="dynamic-table">
              					<thead>
              						<tr>
              							<th>Title</th>
									<th>Category</th>
									<th>Year of Production</th>
									<th  class="hidden-phone">Copies In-Stock</th>
									<th  class="hidden-phone">Starring</th>
                  							<th></th>
              						</tr>
              					</thead>
              					<tbody>
              						<% foreach(Item i, itemList){ %>
	              					<tr class="gradeA">
	                  						<td><%= i.itemTitle() %></td>
	                  						<td><%= i.category() %></td>
	                  						<td><%= i.yearOfProduction() %></td>
	                  						<td class="center hidden-phone"><%= i.quantity() %></td>
	                  						<td class="center hidden-phone"><%= i.leadActor() %> &amp; <%= i.leadActress() %></td>
	                  						<td>
	                  							<a href="<%= urla("edit_item", i.id()) %>" id="edit" class="btn btn-primary btn-xs" data-toggle="tooltip" title="Edit item #<%= i.id() %>"><i class='fa fa-pencil'></i></a>
										<%== linkTo("<i class='fa fa-trash-o'></i>", urla("remove_item", i.id()), Tf::Post, "confirm('Are you sure you want to delete?')", a("class", "btn btn-danger btn-xs")) %>
									</td>
	              					</tr>
              						<% } %>
              					</tbody>
              					<tfoot>
              						<tr>
                  							<th>Title</th>
									<th>Category</th>
									<th>Year of Production</th>
									<th  class="hidden-phone">Copies In-Stock</th>
									<th  class="hidden-phone">Starring</th>
                  							<th></th>
              						</tr>
              					</tfoot>
              				</table>
              			</div>
              		</div>
            		</section>
        	</div>
    	</div>
    	<!-- page end-->
</section>