<%#include "rentalagent.h" %>
<% tfetch(QList<RentalAgent>, staffList); %>
<section class="wrapper">
	<!-- page start-->
	<div class="row">
       	<div class="col-sm-12">
       		<section class="panel">
              		<header class="panel-heading">
              			<b>List of staff</b>
              			<span class="tools pull-right">
              				<a href="<%= urla("staff_entry") %>" id="create" class="btn btn-shadow btn-success btn-xs" data-toggle="tooltip" title="Create new staff"><i class='fa fa-plus'></i></a>
                				<a href="javascript:;" class="fa fa-chevron-down"></a>
                				<a href="javascript:;" class="fa fa-times"></a>
                			</span>
              		</header>
              		<div class="panel-body">
              			<div class="adv-table">
              				<table  class="display table table-bordered table-striped" id="dynamic-table">
              					<thead>
              						<tr>
              							<th>Name</th>
									<th>Email</th>
									<th>Location</th>
									<th  class="hidden-phone">Role</th>
                  							<th></th>
              						</tr>
              					</thead>
              					<tbody>
              						<% foreach(RentalAgent ra, staffList){ %>
	              					<tr class="gradeA">
	                  						<td><%= ra.firstname() + " " + ra.lastname() %></td>
	                  						<td><%= ra.email() %></td>
	                  						<td><%= ra.location() %></td>
	                  						<td class="center hidden-phone"><%= ra.role() %></td>
	                  						<td>
	                  							<a href="<%= urla("edit_staff", ra.agentid()) %>" id="edit" class="btn btn-primary btn-xs" data-toggle="tooltip" title="Edit staff #<%= ra.agentid() %>"><i class='fa fa-pencil'></i></a>
										<%== linkTo("<i class='fa fa-trash-o'></i>", urla("remove_staff", ra.agentid()), Tf::Post, "confirm('Are you sure you want to delete?')", a("class", "delete btn btn-danger btn-xs")) %>
									</td>
	              					</tr>
              						<% } %>
              					</tbody>
              					<tfoot>
              						<tr>
                  							<th>Name</th>
									<th>Email</th>
									<th>Location</th>
									<th  class="hidden-phone">Role</th>
                  							<th></th>
              						</tr>
              					</tfoot>
              				</table>
              			</div>
              		</div>
              	</section>
        	</div>
    	</div>
    	<!-- page end-->
</section>