<%#include "category.h" %>
<% tfetch(QList<Category>, allCategories); %>
<% tfetch(Category, catlog); %>
<section class="wrapper">
	<!-- page start-->
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<div class="col-sm-12">
				<section class="panel">
					<header class="panel-heading">
						Create and Edit Categories
					</header>
					<div class="panel-body">
						<% if(controller()->activeAction() == "categoryListings"){ %>
							<%== formTag(urla("category_create")) %>
								<div class="form-group col-sm-10">
									<input type="text" class="form-control" name="categoryName" placeholder="Enter category name" value="" required>
								</div>
								<button type="submit" class="btn btn-success col-sm-2">Add</button>
							</form>
						<% } else{ %>
							<%== formTag(urla("category_save", catlog.catId())) %>
								<div class="form-group col-sm-10">
									<input type="text" class="form-control" name="categoryName" placeholder="Enter category name" value="<%= catlog.categoryName() %>" required>
								</div>
								<button type="submit" class="btn btn-success col-sm-2">Update</button>
							</form>
						<% } %>
					</div>
				</section>
			</div>
			<div class="col-sm-12">
				<section class="panel">
					<header class="panel-heading">
						All Catgories
						<span class="tools pull-right">
							<a href="javascript:;" class="fa fa-chevron-down"></a>
							<a href="javascript:;" class="fa fa-times"></a>
						</span>
					</header>
					<div class="panel-body">
						<ul class="list-group">
                            			<% foreach(Category cat, allCategories){ %>
								<li class="list-group-item">
									<%== linkTo(cat.categoryName(), urla("category_edit", cat.catId())) %>
									<%== linkTo("<i class='fa fa-trash-o'></i>", urla("category_remove", cat.catId()), Tf::Post, "confirm('Are you sure you want to delete?')", a("class", "btn btn-danger btn-xs pull-right")) %>
								</li>
							<% } %>
                        			</ul>
					</div>
				</section>
			</div>
		</div>
    	</div>
    	<!-- page end-->
</section>
