<%#include "item.h" %>
<%#include "category.h" %>
<% tfetch(QVariantMap, item); %>
<% tfetch(QList<Category>, catList); %>
<section class="wrapper">
    	<!-- page start-->
    	<div class="row">
        	<div class="col-lg-12">
            		<section class="panel">
                		<header class="panel-heading">
                			<% if(controller()->activeAction() == "item_entry"){ %>
                				<b>Add items</b>
                			<% } else{ %>
                				<b>Edit Item #<%== item["id"] %></b>
                			<% } %>
                		</header>
                		<div class="panel-body">
                			<div><%==$ error %></div>
                    		<div class="form">
                    			<% if(controller()->activeAction() == "item_entry"){ %>
                					<%== formTag(urla("create_item"), Tf::Post, "", a("class", "cmxform form-horizontal tasi-form createItem")) %>
                				<% } else{ %>
                					<%== formTag(urla("save_item", item["id"]), Tf::Post, "", a("class", "cmxform form-horizontal tasi-form createItem")) %>
                				<% } %> 			
                            			<div class="form-group ">
                                			<label for="itemtitle" class="control-label col-lg-2">Item title</label>
                                			<div class="col-lg-10">
                                    				<input class=" form-control" id="itemtitle" name="item[itemTitle]" type="text" value="<%= item["itemTitle"] %>" required/>
                                			</div>
                            			</div>

                            			<div class="form-group ">
                                			<label for="itemcategory" class="control-label col-lg-2">Category</label>
                                			<div class="col-lg-10">
                                				<select class="form-control m-bot15" onChange="OnDropDownChage(this);">
                                					<option value = "" disabled>Select a category</option>
                                    					<% foreach(Category cat, catList){ %>
                                    						<% if(controller()->activeAction() == "item_entry"){ %>
                                    							<option value = "<%= cat.categoryName() %>"><%= cat.categoryName() %></option>
                                    						<% } else{ %>
                                    							<option value = "<%= cat.categoryName() %>" 
                                    							<% if(item["category"] == cat.categoryName()){ %>
	                                                					selected = "selected"
	                                                				<% } %>
                              								><%= cat.categoryName() %></option>
                              							<% } %>
                                    					<% } %> 
                                    				</select>
                                    				<input class=" form-control" id="selCat" name="item[category]" type="hidden" value="<%= item["category"] %>" required/>
                                			</div>
                            			</div>

                            			<div class="form-group ">
                                			<label for="itemyear" class="control-label col-lg-2">Year of Production</label>
                                			<div class="col-lg-8 input-append date dpMonths">
                                          			<input type="text" class="form-control" id="itemyear" name="item[yearOfProduction]" value="<%= item["yearOfProduction"] %>" required/>
                                              		<span class="input-group-btn add-on">
                                                			<button class="btn btn-danger" type="button"><i class="fa fa-calendar"></i></button>
                                              		</span>
                                    			</div>
                                		</div>

                            			<div class="form-group ">
                                			<label for="itemqty" class="control-label col-lg-2">Quantity</label>
                                			<div class="col-lg-10">
                                    				<input class=" form-control" id="itemqty" name="item[quantity]" type="number" value="<%= item["quantity"] %>" />
                                			</div>
                            			</div>

                            			<div class="form-group ">
                                			<label for="description" class="control-label col-lg-2">Description</label>
                                			<div class="col-lg-10">
                                    				<textarea class="form-control" rows="2" name="item[description]" id="description"><%= item["description"] %></textarea>
                                			</div>
                            			</div>

                            			<div class="form-group ">
                                			<label for="leadactor" class="control-label col-lg-2">Lead actor</label>
                                			<div class="col-lg-10">
                                    				<input class=" form-control" id="leadactor" name="item[leadActor]" type="text" value="<%= item["leadActor"] %>" required/>
                                			</div>
                            			</div>

                            			<div class="form-group ">
                                			<label for="leadactress" class="control-label col-lg-2">Lead actress</label>
                                			<div class="col-lg-10">
                                    				<input class=" form-control" id="leadactress" name="item[leadActress]" type="text" value="<%= item["leadActress"] %>" required/>
                                			</div>
                            			</div>

                            			<div class="form-group">
                                			<div class="col-lg-offset-2 col-lg-10">
                                    				<button class="btn btn-danger" type="submit">
                                    					<% if(controller()->activeAction() == "item_entry"){ %>
                                    						Save
                                    					<% } else{ %>
                                    						Update
                                    					<% } %>
                                    				</button>
                                    				<a class="btn btn-default" type="button" href="/Admin/all_items">Cancel</a>
                                			</div>
                            			</div>
                        			</form>
                    		</div>
                		</div>
            		</section>
        	</div>
    	</div>
    	<!-- page end-->
</section>

<script src="/flatlab/js/form-validation-script.js"></script>
<script type="text/javascript" src="/flatlab/assets/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="/flatlab/js/advanced-form-components.js"></script>

<script>
	function OnDropDownChage(dropDown){
		var selectedValue = dropDown.options[dropDown.selectedIndex].value;
		document.getElementById("selCat").value = selectedValue;
	} 
</script>