<%#include "rentalagent.h" %>
<% tfetch(QStringList, locations) %>
<% tfetch(QVariantMap, agent); %>
<section class="wrapper">
    	<!-- page start-->
    	<div class="row">
      		<div class="col-lg-12">
            		<section class="panel">
                		<header class="panel-heading">
	                		<% if(controller()->activeAction() == "staff_entry"){ %>
	                    		<b>Employ new staff</b>
	                    	<% } else{ %>
	                    		<b>Edit staff #<%== agent["agentid"] %> records</b>
	                    	<% } %>
                    		<span class="tools pull-right">
                        			<a href="javascript:;" class="fa fa-chevron-down"></a>
                        			<a href="javascript:;" class="fa fa-times"></a>
                    		</span>
                		</header>
                		<div class="panel-body">
                    		<div><%==$ error %></div>
                    		<div><%==$ notice %></div>
                    		<div class="form">
                    			<% if(controller()->activeAction() == "staff_entry"){ %>
                        				<%== formTag(urla("create_staff"), Tf::Post, "", a("class", "cmxform form-horizontal tasi-form employStaff")) %>
                        			<% } else{ %>
                        				<%== formTag(urla("save_staff", agent["agentid"]), Tf::Post, "", a("class", "cmxform form-horizontal tasi-form employStaff")) %>
                        			<% } %>
                            			<div class="form-group ">
                                			<label for="firstname" class="control-label col-lg-2">First name</label>
                                			<div class="col-lg-10">
                                    				<input class=" form-control" id="firstname" name="agent[firstname]" type="text" value="<%= agent["firstname"] %>" required/>
                                			</div>
                            			</div>

                            			<div class="form-group ">
                                			<label for="lastname" class="control-label col-lg-2">Last name</label>
                                			<div class="col-lg-10">
                                    				<input class=" form-control" id="lastname" name="agent[lastname]" type="text" value="<%= agent["lastname"] %>" required/>
                                			</div>
                            			</div>

                            			<div class="form-group ">
                                			<label for="email" class="control-label col-lg-2">Email</label>
                                			<div class="col-lg-10">
                                    				<input class=" form-control" id="email" name="agent[email]" type="email" value="<%= agent["email"] %>" required/>
                                			</div>
                            			</div>

                            			<div class="form-group ">
                                			<label for="password" class="control-label col-lg-2">Password</label>
                                			<div class="col-lg-10">
                                    				<input class=" form-control" id="password" name="agent[password]" type="text" value="<%= agent["password"] %>" required/>
                                			</div>
                            			</div>

                            			<div class="form-group ">
                                			<label for="location" class="control-label col-lg-2">Location</label>
                                			<div class="col-lg-10">
	                                      			<select class="form-control m-bot15" onChange="OnDropDownChage(this);">
	                                          			<option value = "" disabled>Select a location</option>
	                                              		<% for (int i = 0; i < locations.size(); ++i){ %>
	                                              			<% if(controller()->activeAction() == "staff_entry"){ %>
	                                                				<option value = "<%= locations.at(i) %>"><%= locations.at(i) %></option>
	                                                			<% } else{ %>
	                                                				<option value = "<%= locations.at(i) %>" 
	                                                				<% if(agent["location"] == locations.at(i)){ %>
	                                                					selected = "selected"
	                                                				<% } %>
	                                                				><%= locations.at(i) %></option>
	                                                			<% } %>
	                                              		<% } %> 
	                                            		</select>
                                    				<input class=" form-control" id="location" name="agent[location]" type="hidden" value="<%= agent["location"] %>" required/>
                                			</div>
                            			</div>

                            			<div class="form-group ">
                                			<label for="role" class="control-label col-lg-2">Role</label>
                                			<div class="col-lg-10">
                                    				<input class=" form-control" id="role" name="agent[role]" type="text" value="<%= agent["role"] %>" required/>
                                			</div>
                            			</div>

                            			<div class="form-group">
                                			<div class="col-lg-offset-2 col-lg-10">
                                    				<button class="btn btn-danger" type="submit">
                                    					<% if(controller()->activeAction() == "staff_entry"){ %>
                                    						Save
                                    					<% } else{ %>
                                    						Update
                                    					<% } %>
                                    				</button>
                                    				<a class="btn btn-default" type="button" href="/Admin/all_staff">Cancel</a>
                                			</div>
                            			</div>
                        			</form>
                    		</div>
                		</div>
            		</section>
      		</div>
    	</div>
    	<!-- page end-->
</section>

<script src="/flatlab/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="/flatlab/js/form-validation-script.js"></script>
<script src="/flatlab/js/advanced-form-components.js"></script>

<script>
	function OnDropDownChage(dropDown){
		var selectedValue = dropDown.options[dropDown.selectedIndex].value;
		document.getElementById("location").value = selectedValue;
	} 
</script>