<%#include "rentalagent.h" %>
<%#include "client.h" %>
<%#include "clientorder.h" %>
<%#include "item.h" %>
<%#include "duesheets.h" %>
<% tfetch(QList<RentalAgent>, agents) %>
<% tfetch(QList<Client>, clients) %>
<% tfetch(QList<ClientOrder>, clientorders) %>
<% tfetch(QList<Item>, items) %>
<% tfetch(QList<DueSheets>, duesheets) %>

<script type="text/javascript" src="/flatlab/assets/htmltable_export/tableExport.js"></script>
<script type="text/javascript" src="/flatlab/assets/htmltable_export/jquery.base64.js"></script>
<script type="text/javascript" src="/flatlab/assets/htmltable_export/html2canvas.js"></script>

<script type="text/javaScript">
	$(document).ready(function(){
		$('.table').dataTable();
	});
</script>

<section class="wrapper">
	<div class="row">
		<div class="col-sm-12">
			<section class="panel">
				<header class="panel-heading">
					<b>All Clients</b>
					<span class="tools pull-right"><a href="javascript:;" class="fa fa-chevron-down"></a></span>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<div class="btn-group pull-right">
						<button class="btn btn-warning btn-sm dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-bars"></i> Export Table Data
						</button>
						<ul class="dropdown-menu " role="menu">
							<li><a href="#" onClick ="$('#clients').tableExport({type:'csv',escape:'false'});"> <img src='/flatlab/assets/htmltable_export/icons/csv.png' width='24px'> CSV</a></li>
							
							<li class="divider"></li>

							<li><a href="#" onClick ="$('#clients').tableExport({type:'excel',escape:'false'});"> <img src='/flatlab/assets/htmltable_export/icons/xls.png' width='24px'> XLS</a></li>
							<li><a href="#" onClick ="$('#clients').tableExport({type:'powerpoint',escape:'false'});"> <img src='/flatlab/assets/htmltable_export/icons/ppt.png' width='24px'> PowerPoint</a></li>

							<li class="divider"></li>

							<li><a href="#" onClick ="$('#clients').tableExport({type:'png',escape:'false'});"> <img src='/flatlab/assets/htmltable_export/icons/png.png' width='24px'> PNG</a></li>
						</ul>
					</div>
				</header>
				<div class="panel-body">
					<section>
						<table class="table table-bordered table-striped table-condensed" id="clients">
							<thead>
								<tr>
									<th>First name</th>
									<th>Last name</th>
									<th>Username</th>
									<th>Email</th>
									<th>Pick location</th>
									<th>Entitlement</th>
									<th>Active?</th>
								</tr>
							</thead>
							<tbody>
								<% foreach(Client cl, clients){ %>
									<tr>
										<td><%= cl.firstname() %></td>
										<td><%= cl.lastname() %></td>
										<td><%= cl.username() %></td>
										<td><%= cl.email() %></td>
										<td><%= cl.pickLocation() %></td>
										<td><%= cl.entitledNumberMovies() %></td>
										<% if(cl.isActive()){ %>
		                  							<td class="center">Yes</td>
		                  						<% } else{ %>
		                  							<td class="center">No</td>
		                  						<% } %>
									</tr>
								<% } %>
							</tbody>
							<tfoot>
								<tr>
									<th>First name</th>
									<th>Last name</th>
									<th>Username</th>
									<th>Email</th>
									<th>Pick location</th>
									<th>Entitlement</th>
									<th>Active?</th>
								</tr>
							</tfoot>
						</table>
					</section>
				</div>
			</section>

			<section class="panel">
				<header class="panel-heading">
					<b>All Agents</b>
             			<span class="tools pull-right"><a href="javascript:;" class="fa fa-chevron-down"></a></span>
             			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<div class="btn-group pull-right">
						<button class="btn btn-warning btn-sm dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-bars"></i> Export Table Data
						</button>
						<ul class="dropdown-menu " role="menu">
							<li><a href="#" onClick ="$('#agents').tableExport({type:'csv',escape:'false'});"> <img src='/flatlab/assets/htmltable_export/icons/csv.png' width='24px'> CSV</a></li>
							
							<li class="divider"></li>

							<li><a href="#" onClick ="$('#agents').tableExport({type:'excel',escape:'false'});"> <img src='/flatlab/assets/htmltable_export/icons/xls.png' width='24px'> XLS</a></li>
							<li><a href="#" onClick ="$('#agents').tableExport({type:'powerpoint',escape:'false'});"> <img src='/flatlab/assets/htmltable_export/icons/ppt.png' width='24px'> PowerPoint</a></li>

							<li class="divider"></li>

							<li><a href="#" onClick ="$('#agents').tableExport({type:'png',escape:'false'});"> <img src='/flatlab/assets/htmltable_export/icons/png.png' width='24px'> PNG</a></li>
						</ul>
					</div>
				</header>
				<div class="panel-body">
					<section>
						<table class="table table-bordered table-striped table-condensed" id="agents">
							<thead>
								<tr>
									<th>First name</th>
									<th>Last name</th>
									<th>Email</th>
									<th>Location</th>
									<th>Role</th>
								</tr>
							</thead>
							<tbody>
								<% foreach(RentalAgent ag, agents){ %>
									<tr>
										<td><%= ag.firstname() %></td>
										<td><%= ag.lastname() %></td>
										<td><%= ag.email() %></td>
										<td><%= ag.location() %></td>
										<td><%= ag.role() %></td>
									</tr>
								<% } %>
							</tbody>
							<tfoot>
								<tr>
									<th>First name</th>
									<th>Last name</th>
									<th>Email</th>
									<th>Pick location</th>
									<th>Role</th>
								</tr>
							</tfoot>
						</table>
					</section>
				</div>
			</section>

			<section class="panel">
				<header class="panel-heading">
					<b>All Items</b>
             			<span class="tools pull-right"><a href="javascript:;" class="fa fa-chevron-down"></a></span>
             			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<div class="btn-group pull-right">
						<button class="btn btn-warning btn-sm dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-bars"></i> Export Table Data
						</button>
						<ul class="dropdown-menu " role="menu">
							<li><a href="#" onClick ="$('#items').tableExport({type:'csv',escape:'false'});"> <img src='/flatlab/assets/htmltable_export/icons/csv.png' width='24px'> CSV</a></li>
							
							<li class="divider"></li>

							<li><a href="#" onClick ="$('#items').tableExport({type:'excel',escape:'false'});"> <img src='/flatlab/assets/htmltable_export/icons/xls.png' width='24px'> XLS</a></li>
							<li><a href="#" onClick ="$('#items').tableExport({type:'powerpoint',escape:'false'});"> <img src='/flatlab/assets/htmltable_export/icons/ppt.png' width='24px'> PowerPoint</a></li>

							<li class="divider"></li>

							<li><a href="#" onClick ="$('#items').tableExport({type:'png',escape:'false'});"> <img src='/flatlab/assets/htmltable_export/icons/png.png' width='24px'> PNG</a></li>
						</ul>
					</div>
				</header>
				<div class="panel-body">
					<section>
						<table class="table table-bordered table-striped table-condensed" id="items">
							<thead>
								<tr>
									<th>Movie title</th>
									<th>Category</th>
									<th>Remaining quantity</th>
									<th>Updated at</th>
								</tr>
							</thead>
							<tbody>
								<% foreach(Item it, items){ %>
									<tr>
										<td><%= it.itemTitle() %></td>
										<td><%= it.category() %></td>
										<td><%= it.quantity() %></td>
										<td><%= it.updatedAt() %></td>
									</tr>
								<% } %>
							</tbody>
							<tfoot>
								<tr>
									<th>Movie title</th>
									<th>Category</th>
									<th>Remaining quantity</th>
									<th>Updated at</th>
								</tr>
							</tfoot>
						</table>
					</section>
				</div>
			</section>

			<section class="panel">
				<header class="panel-heading">
					<b>All Orders</b>
             			<span class="tools pull-right"><a href="javascript:;" class="fa fa-chevron-down"></a></span>
             			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<div class="btn-group pull-right">
						<button class="btn btn-warning btn-sm dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-bars"></i> Export Table Data
						</button>
						<ul class="dropdown-menu " role="menu">
							<li><a href="#" onClick ="$('#orders').tableExport({type:'csv',escape:'false'});"> <img src='/flatlab/assets/htmltable_export/icons/csv.png' width='24px'> CSV</a></li>
							
							<li class="divider"></li>

							<li><a href="#" onClick ="$('#orders').tableExport({type:'excel',escape:'false'});"> <img src='/flatlab/assets/htmltable_export/icons/xls.png' width='24px'> XLS</a></li>
							<li><a href="#" onClick ="$('#orders').tableExport({type:'powerpoint',escape:'false'});"> <img src='/flatlab/assets/htmltable_export/icons/ppt.png' width='24px'> PowerPoint</a></li>

							<li class="divider"></li>

							<li><a href="#" onClick ="$('#orders').tableExport({type:'png',escape:'false'});"> <img src='/flatlab/assets/htmltable_export/icons/png.png' width='24px'> PNG</a></li>
						</ul>
					</div>
				</header>
				<div class="panel-body">
					<section>
						<table class="table table-bordered table-striped table-condensed" id="orders">
							<thead>
								<tr>
									<th>Ordered item</th>
									<th>Ordered by</th>
									<th>Location</th>
									<th>Fullfilled?</th>
									<th>Time ordered</th>
									<th>Time fulfilled</th>
								</tr>
							</thead>
							<tbody>
								<% foreach(ClientOrder co, clientorders){ %>
									<tr>
										<td><%= co.movie() %></td>
										<td><%= co.user() %></td>
										<td><%= co.location() %></td>
										<% if(co.fulfilled()){ %>
		                  							<td>Yes</td>
		                  						<% } else{ %>
		                  							<td>No</td>
		                  						<% } %>
		                  						<td><%= co.createdAt() %></td>
		                  						<td><%= co.updatedAt() %></td>
									</tr>
								<% } %>
							</tbody>
							<tfoot>
								<tr>
									<th>Ordered item</th>
									<th>Ordered by</th>
									<th>Location</th>
									<th>Fullfilled?</th>
									<th>Time ordered</th>
									<th>Time fulfilled</th>
								</tr>
							</tfoot>
						</table>
					</section>
				</div>
			</section>

			<section class="panel">
				<header class="panel-heading">
					<b>All Item Due for Collection</b>
             			<span class="tools pull-right"><a href="javascript:;" class="fa fa-chevron-down"></a></span>
             			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<div class="btn-group pull-right">
						<button class="btn btn-warning btn-sm dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-bars"></i> Export Table Data
						</button>
						<ul class="dropdown-menu " role="menu">
							<li><a href="#" onClick ="$('#dues').tableExport({type:'csv',escape:'false'});"> <img src='/flatlab/assets/htmltable_export/icons/csv.png' width='24px'> CSV</a></li>
							
							<li class="divider"></li>

							<li><a href="#" onClick ="$('#dues').tableExport({type:'excel',escape:'false'});"> <img src='/flatlab/assets/htmltable_export/icons/xls.png' width='24px'> XLS</a></li>
							<li><a href="#" onClick ="$('#dues').tableExport({type:'powerpoint',escape:'false'});"> <img src='/flatlab/assets/htmltable_export/icons/ppt.png' width='24px'> PowerPoint</a></li>

							<li class="divider"></li>

							<li><a href="#" onClick ="$('#dues').tableExport({type:'png',escape:'false'});"> <img src='/flatlab/assets/htmltable_export/icons/png.png' width='24px'> PNG</a></li>
						</ul>
					</div>
				</header>
				<div class="panel-body">
					<section>
						<table class="table table-bordered table-striped table-condensed" id="dues">
							<thead>
								<tr>
									<th>Ordered item</th>
									<th>Ordered by</th>
									<th>Processed date</th>
									<th>Processor</th>
									<th>Due date</th>
									<th>Checkin?</th>									
									<th>Last fine activate</th>
								</tr>
							</thead>
							<tbody>
								<% foreach(DueSheets ds, duesheets){ %>
									<tr>
										<td><%= ds.orderedItem() %></td>
										<td><%= ds.orderedBy() %></td>
		                  						<td><%= ds.processedDate() %></td>
		                  						<td><%= ds.processor() %></td>
		                  						<td><%= ds.dueDate() %></td>
		                  						<% if(ds.checkIn()){ %>
		                  							<td>Yes</td>
		                  						<% } else{ %>
		                  							<td>No</td>
		                  						<% } %>	
		                  						<% if( ds.dayFineLastActivate() != " "){ %>
		                  							<td><%= ds.dayFineLastActivate() %></td>
		                  						<% } else{ %>
		                  							<td>N/A</td>
		                  						<% } %>
									</tr>
								<% } %>
							</tbody>
							<tfoot>
								<tr>
									<th>Ordered item</th>
									<th>Ordered by</th>
									<th>Processed date</th>
									<th>Processor</th>
									<th>Due date</th>
									<th>Checkin?</th>									
									<th>Last fine activate</th>
								</tr>
							</tfoot>
						</table>
					</section>
				</div>
			</section>
		</div>
	</div>
</section>
