<section id="top" class="content-section hero vertical-center">
	<div class="hero-parallax parallax" style="background-image: url(img/cover1.jpg);"></div>
	<div class="overlay overlay-colored-9"></div>
	<div class="container">
		<div class="hero-container">
			<h1 class="hero-title" data-animation="fadeInLeft">
				<b>Online Rentals</b>
			</h1>
			<div class="hero-sub-title" data-animation="fadeInRight">
				<em>The powerhouse of movie rentals</em>
			</div>
			<div class="call-to-action heading-font">
				<a href="#how" class="btn btn-white btn-lg btn-outline smooth-scroll">Learn More</a>
				<a href="http://vimeo.com/61741062" class="btn btn-white btn-lg popup-video"><i class="fa fa-play mr10"></i><span>Watch this trailer</span></a>
			</div>
		</div>
	</div>
</section>

<section id="how" class="content-section">
	<div class="container">
		<div class="col-md-8 col-md-offset-2">
			<div class="section-title">
				<h5 class="heading" data-animation="fadeInDown" data-appear-top-offset="-200">
					<em>how it works</em>
				</h5>
				<h4 class="sub-heading" data-animation="fadeInUp" data-appear-top-offset="-190">What you need to know about <span class="color">Online Rentals</span></h4>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-sm-4">
				<div data-animation="fadeInLeft">
					<div class="feature-icon bordered">
						<i class="ti-pencil-alt color"></i>
					</div>
					<div class="feature-description">
						<h5><span>REGISTER</span><small class="show text-muted">WITH AN AGENT</small></h5>
						<p>Walk to any of our rental houses and register with the agent on duty by paying a premium. View premium plans <a href="#pricing">here</a>.</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div data-animation="fadeInUp">
					<div class="feature-icon bordered">
						<i class="ti-bookmark-alt color"></i>
					</div>
					<div class="feature-description">
						<h5><span>LOGIN</span><small class="show text-muted">WITH YOUR CREDENTIALS</small></h5>
						<p>Upon registeration you are given a password which you can gain access to our movie catalogs with. You will use it alongside your email address. If you've already registered then login <a href="/Account/clientLoginForm">here</a>.</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div data-animation="fadeInRight">
					<div class="feature-icon bordered">
						<i class="ti-brush-alt color"></i>
					</div>
					<div class="feature-description">
						<h5><span>RENT</span><small class="show text-muted">AND PICKUP YOUR MOVIES AT ANY LOCATION OF YOUR CHOICE</small></h5>
						<p>Browse through our catalogs to rent a movie of your choice. You can change your pickup location in other to pick the movie at your prefered rental house.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="pricing" class="content-section banner">
	<div class="container" data-animation="fadeIn">
		<div class="row">
			<div class="col-sm-offset-3 col-sm-6">
				<div class="section-title">
					<h6 data-animation="fadeInDown" data-appear-top-offset="-200">Walk to any of our <a href="#contact">rental houses</a></h6>
					<h4 data-animation="fadeInUp" data-appear-top-offset="-190">And pay for the premium plan of your choice.</h4>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="pricing-table">
					<div class="pricing-body">
						<h5>BRONZE</h5>
						<div class="plan-price">
							<span class="heading-font">£50</span>
							<small><em>until movies finish</em></small>
						</div>
						<ul class="plan-features">
							<li>15 movies</li>
							<li>Browse categories of movies</li>
							<li>-</li>
							<li><i class="ti-check text-success"></i></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="pricing-table">
					<div class="pricing-body">
						<h5>SILVER</h5>
						<div class="plan-price">
							<span class="heading-font">£80</span>
							<small><em>until movies finish</em></small>
						</div>
						<ul class="plan-features">
							<li>25 movies</li>
							<li>Browse categories of movies</li>
							<li>-</li>
							<li><i class="ti-close text-danger"></i></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="pricing-table active">
					<div class="pricing-body">
						<h5>GOLD</h5>
						<div class="plan-price">
							<span class="heading-font">£200</span>
							<small><em>until movies finish</em></small>
						</div>
						<ul class="plan-features">
							<li>35 movies</li>
							<li>Browse categories of movies</li>
							<li>+5 movies as take home gift</li>
							<li><i class="ti-check text-success"></i></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="pricing-table">
					<div class="pricing-body">
						<h5>DIAMOND</h5>
						<div class="plan-price">
							<span class="heading-font">£300</span>
							<small><em>per month</em></small>
						</div>
						<ul class="plan-features">
							<li>40 movies</li>
							<li>Browse categories of movies</li>
							<li>+10 movies as take home gift</li>
							<li><i class="ti-check text-success"></i></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<small><em>*All prices quoted in EUROS. Terms and conditions may apply</em></small>
	</div>
</section>

<section id="contact" class="content-section banner">
	<div class="container">
		<div class="row" id="map-row">
			<div class="col-xs-5 col-sm-4 col-md-3">
				<button id='geolocate'>Click me to find your location</button><br>
				<p id='distance' class='ui-distance'>Hover over a marker and see the distance between your current location a shop. Please click the button above to locate your current address.</p>	
			</div>
			<div id="map-canvas" class="col-xs-7 col-sm-8 col-md-9"></div>
		</div>
	</div>
	<script>
		L.mapbox.accessToken = 'pk.eyJ1IjoibmVuZXBhZGkiLCJhIjoiWDl5dk0tYyJ9.A3iSN0zfrpApthOewLcKCw';
		var geolocate = document.getElementById('geolocate');
		var map = L.mapbox.map('map-canvas', 'nenepadi.kp6jnh0h').setView([41.9000, 12.4833], 6);
		var markers = [];
		var fixedMarker;
		var featureLayer = L.mapbox.featureLayer().addTo(map);
		var geocoder = L.mapbox.geocoder('mapbox.places');

		if (!navigator.geolocation) {
    			geolocate.innerHTML = 'Geolocation is not available';
		} else {
    			geolocate.onclick = function (e) {
        				e.preventDefault();
        				e.stopPropagation();
        				map.locate();
    			};
		}

		map.on('locationfound', function(e) {
			fixedMarker = L.marker(new L.LatLng(e.latlng.lat, e.latlng.lng), {
    				icon: L.mapbox.marker.icon({
        					'marker-color': '#984049',
        					'marker-symbol': 'pitch'
    				})
			}).bindPopup('Here you are').addTo(map);

    			geolocate.innerHTML = 'You are in: ' + e.latlng;
		});

		map.on('locationerror', function() {
    			geolocate.innerHTML = 'Position could not be found';
		});

		$.getJSON('/locations.json', function(data) {
        			for(var i in data.locations){
        				var marker = L.mapbox.featureLayer().addTo(map);
    				marker.setGeoJSON({
        					type: 'Feature',
        					geometry: {
            					type: 'Point',
            					coordinates: [data.locations[i].longitude, data.locations[i].latitude]
       				 	},
        					properties: {
            					'title': data.locations[i].locationName,
            					'marker-color': '#ff8888',
            					'marker-symbol': 'cinema'
        					}
    				});
    				marker.on('mouseover', function(e) {
    					var fc = fixedMarker.getLatLng();
    					var c = e.latlng;
    					featureLayer.setGeoJSON({
    						type: 'Feature',
	        					geometry: {
	            					type: 'LineString',
	            					coordinates: [
	            						[fc.lng, fc.lat],
            							[c.lng, c.lat]
	            					]
	       				 	},
	        					properties: {
	            					'stroke': "#000",
          						'stroke-opacity': 0.5,
          						'stroke-width': 4
	        					}
    					});
    					var container = document.getElementById('distance');
    					container.innerHTML = 'The distance from your location to the rental house you have hovered over is : <b>' + fc.distanceTo(c).toFixed(0) + '</b>meters';
				});
    				marker.on('mouseout', function(){
    					featureLayer.removeLayer(map);
    				});
            				markers.push(marker);
        			}
  		});
	</script>
</section>
