<%#include "client.h" %>
<%#include "rentalagent.h" %>
<% tfetch(RentalAgent, agent); %>
<% tfetch(QVariantMap, client); %>
<section class="wrapper">
    	<!-- page start-->
    	<div class="row">
        	<div class="col-lg-12">
            		<section class="panel">
                		<header class="panel-heading">
                			<% if(controller()->activeAction() == "client_entry"){ %>
                    			<b>User Registration form</b>
                    		<% } else{ %>
                    			<b>Edit user #<%== client["clientid"] %></b>
                    		<% } %>
                    		<span class="tools pull-right">
                        			<a href="javascript:;" class="fa fa-chevron-down"></a>
                        			<a href="javascript:;" class="fa fa-times"></a>
                    		</span>
                		</header>
                		<div class="panel-body">
                    		<div><%==$ error %></div>
                    		<div class="form">
                    			<% if(controller()->activeAction() == "client_entry"){ %>
		                  			<%== formTag(urla("create_client"), Tf::Post, "", a("class", "cmxform form-horizontal tasi-form registerUser")) %>
		                  		<% } else{ %>
		                  			<%== formTag(urla("save_client", client["clientid"]), Tf::Post, "", a("class", "cmxform form-horizontal tasi-form registerUser")) %>
		                  		<% } %>
                            			<div class="form-group ">
                                			<label for="firstname" class="control-label col-lg-2">First name</label>
                                			<div class="col-lg-10">
                                    				<input class=" form-control" id="firstname" name="client[firstname]" type="text" value="<%= client["firstname"] %>" required/>
                                			</div>
                            			</div>

                            			<div class="form-group ">
                                			<label for="lastname" class="control-label col-lg-2">Last name</label>
                                			<div class="col-lg-10">
                                    				<input class=" form-control" id="lastname" name="client[lastname]" type="text" value="<%= client["lastname"] %>" required/>
                                			</div>
                            			</div>

                            			<div class="form-group ">
                                			<label for="username" class="control-label col-lg-2">Username</label>
                                			<div class="col-lg-10">                                    				
                                    				<% if(controller()->activeAction() == "client_entry"){ %>
					                  			<input class=" form-control" id="username" name="client[username]" type="text" value="<%= client["username"] %>" />
					                  		<% } else{ %>
					                  			<input class=" form-control" id="username" name="client[username]" type="text" value="<%= client["username"] %>" readonly/>
					                  		<% } %>
                                			</div>
                            			</div>

                            			<div class="form-group ">
                                			<label for="email" class="control-label col-lg-2">Email</label>
                                			<div class="col-lg-10">
                                    				<input class=" form-control" id="email" name="client[email]" type="email" value="<%= client["email"] %>" required/>
                                			</div>
                            			</div>

                            			<div class="form-group ">
                                			<label for="password" class="control-label col-lg-2">Password</label>
                                			<div class="col-lg-10">
                                    				<% if(controller()->activeAction() == "client_entry"){ %>
					                  			<input class=" form-control" id="password" name="client[password]" type="password" value="<%= client["password"] %>" />
					                  		<% } else{ %>
					                  			<input class=" form-control" id="password" name="client[password]" type="password" value="<%= client["password"] %>" readonly/>
					                  		<% } %>
                                			</div>
                            			</div>

                            			<div class="form-group ">
                                			<label for="picklocation" class="control-label col-lg-2">Pick location</label>
                                			<div class="col-lg-10">
                                				<% if(controller()->activeAction() == "client_entry"){ %>
					                  			<input class=" form-control" id="picklocation" name="client[pickLocation]" type="text" value="<%= agent.location() %>"  readonly />
					                  		<% } else{ %>
					                  			<input class=" form-control" id="picklocation" name="client[pickLocation]" type="text" value="<%= client["pickLocation"] %>" required/>
					                  		<% } %>		
                                			</div>
                            			</div>

                            			<div class="form-group ">
                                			<label for="entitlednumbermovies" class="control-label col-lg-2">Entitlement</label>
                                			<div class="col-lg-10">
                                    				<input class=" form-control" id="entitlednumbermovies" name="client[entitledNumberMovies]" type="number" value="<%= client["entitledNumberMovies"] %>" required/>
                                    				<span class="help-block">Number of movies entitled to user based on premium</span>
                                			</div>
                            			</div>

                            			<div class="form-group ">
                                			<label for="isactive" class="control-label col-lg-2">Active?</label>
                                			<div class="col-lg-4">
                                				<% if(client["isActive"].toBool() == true){ %>
	                                				<label class="radio-inline">
	  										<input type="radio" name="client[isActive]" value="1" onclick="OnSelect(this)" checked> True
										</label>
										<label class="radio-inline">
	  										<input type="radio" name="client[isActive]" value="0" onclick="OnSelect(this)"> False
										</label>
									<% } else{ %>
										<label class="radio-inline">
	  										<input type="radio" name="client[isActive]" value="1" onclick="OnSelect(this)"> True
										</label>
										<label class="radio-inline">
	  										<input type="radio" name="client[isActive]" value="0" onclick="OnSelect(this)" checked> False
										</label>
									<% } %>
                                    				<input class=" form-control" id="isactive" name="client[isActive]" type="hidden" value="<%= client["isActive"] %>" required/>
                                			</div>
                            			</div>

                            			<div class="form-group">
                                			<div class="col-lg-offset-2 col-lg-10">
                                				<% if(controller()->activeAction() == "client_entry"){ %>
				                    			<button class="btn btn-danger" type="submit">Save</button>
                                    					<a class="btn btn-default" href="/Staff/client_listings">Cancel</a>
				                    		<% } else{ %>
				                    			<button class="btn btn-danger" type="submit">Update</button>
                                    					<a class="btn btn-default" href="/Staff/client_listings">Cancel</a>
				                    		<% } %>                                   				
                                			</div>
                            			</div>
                        			</form>
                    		</div>
                		</div>
            		</section>
        	</div>
    	</div>
    	<!-- page end-->
</section>

<script src="/flatlab/js/form-validation-script.js"></script>
<script src="/flatlab/js/advanced-form-components.js"></script>
<script type="text/javascript" src="/flatlab/js/ga.js"></script>

<script>
	function OnSelect(radio){
		var selectedValue = radio.value;
		document.getElementById("isactive").value = selectedValue;
	} 
</script>
