<%#include "client.h" %>
<% tfetch(QList<Client>, clientByLocationList); %>
<section class="wrapper">
    	<!-- page start-->
    	<div class="row">
       	<div class="col-sm-12">
            		<section class="panel">
              		<header class="panel-heading">
                  			<b>Your clients</b>
             			<span class="tools pull-right">
             				<a href="<%= urla("client_entry") %>" class="btn btn-shadow btn-success btn-xs" data-toggle="tooltip" title="Register client"><i class='fa fa-plus'></i></a>
                				<a href="javascript:;" class="fa fa-chevron-down"></a>
                				<a href="javascript:;" class="fa fa-times"></a>
             			</span>
              		</header>
              		<div class="panel-body">
              			<div class="adv-table">
              				<table  class="display table table-bordered table-striped" id="dynamic-table">
              					<thead>
              						<tr>
                  							<th>Username</th>
                  							<th>Email</th>
                  							<th class="hidden-phone">Is Active</th>
                  							<th class="hidden-phone">Entitled Number Movies</th>
                  							<th></th>
              						</tr>
              					</thead>
              					<tbody>
              						<% foreach(Client cl, clientByLocationList){ %>
	              						<tr class="gradeA">
	                  							<td><%= cl.username() %></td>
	                  							<td><%= cl.email() %></td>
	                  							<% if(cl.isActive()){ %>
	                  								<td class="center hidden-phone"><i class="fa fa-check-square-o" style="color: green;"></i></td>
	                  							<% } else{ %>
	                  								<td class="center hidden-phone"><i class="fa fa-square-o" style="color: red;"></i></td>
	                  							<% } %>
	                  							<td class="center hidden-phone"><%= cl.entitledNumberMovies() %></td>
	                  							<td>
	                  								<a href="<%= urla("edit_client", cl.clientid()) %>" class="btn btn-primary btn-xs" data-toggle="tooltip" title="Edit client #<%= cl.clientid() %>"><i class='fa fa-pencil'></i></a>
	                  								<%== linkTo("<i class='fa fa-trash-o'></i>", urla("remove_client", cl.clientid()), Tf::Post, "confirm('Are you sure you want to delete?')", a("class", "btn btn-danger btn-xs")) %>
										</td>
	              						</tr>
              						<% } %>
              					</tbody>
              					<tfoot>
              						<tr>
                  							<th>Username</th>
                  							<th>Email</th>
                  							<th class="hidden-phone">Is Active</th>
                  							<th class="hidden-phone">Entitled Number Movies</th>
                  							<th></th>
              						</tr>
              					</tfoot>
              				</table>
              			</div>
              		</div>
            		</section>
        	</div>
   	</div>
    	<!-- page end-->
</section>
