<%#include "duesheets.h" %>
<%#include "QDate" %>
<% tfetch(QList<DueSheets>, dues); %>
<% tfetch(QList<DueSheets>, cdues); %>
<% tfetch(DueSheets, dueSheet); %>
<section class="wrapper site-min-height">
    <!-- page start-->
    <div class="row">
		<% if(controller()->activeAction() == "viewDueSheet"){ %>
			<div class="col-sm-12">
				<section class="panel">
					<header class="panel-heading">
						Today's Due items
						<span class="tools pull-right">
							<a href="javascript:;" class="fa fa-chevron-down"></a>
						</span>
					</header>
					<div class="panel-body">
						<div class="adv-table">
							<table  class="display table table-bordered table-striped" id="dynamic-table">
								<thead>
									<tr>
										<th>Due item</th>
										<th>Ordered by</th>
										<th>Processed date</th>
										<th>Was due</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<% foreach(DueSheets ds, dues){ %>
										<tr class="gradeA">
											<td><%= ds.orderedItem() %></td>
											<td><%= ds.orderedBy() %></td>
											<td><%= ds.processedDate() %></td>
											<% if(QDate::fromString(ds.dueDate(), "yyyy-MM-dd") == QDate::currentDate()){ %>
												<td>today</td>
											<% } else{ %>
												<% if(QDate::fromString(ds.dueDate(), "yyyy-MM-dd").daysTo(QDate::currentDate()) == 1){ %>
													<td>a day ago</td>
												<% } else{ %>
													<td><%= QDate::fromString(ds.dueDate(), "yyyy-MM-dd").daysTo(QDate::currentDate()) %>days ago</td>
												<% } %>
											<% } %>
											<td>
												<% if(QDate::fromString(ds.dueDate(), "yyyy-MM-dd") == QDate::currentDate()){ %>
													<a href="<%= urla("activateFine", ds.id()) %>" class="btn btn-primary btn-xs disabled" data-toggle="tooltip" title="Activate fine"><i class='fa fa-cogs'></i></a>
												<% } else{ %>
													<% if(QDate::fromString(ds.dayFineLastActivate(), "yyyy-MM-dd") == QDate::currentDate()){ %>
														<a href="<%= urla("activateFine", ds.id()) %>" class="btn btn-primary btn-xs disabled" data-toggle="tooltip" title="Activate fine"><i class='fa fa-cogs'></i></a>
													<% } else{ %>
														<a href="<%= urla("activateFine", ds.id()) %>" class="btn btn-primary btn-xs" data-toggle="tooltip" title="Activate fine"><i class='fa fa-cogs'></i></a>
													<% } %>
												<% } %>
												<a href="<%= urla("checkIn", ds.id()) %>" class="btn btn-success btn-xs" data-toggle="tooltip" title="Check item in"><i class='fa fa-share-square-o'></i></a>
											</td>
										</tr>
									<% } %>
								</tbody>
								<tfoot>
									<tr>
										<th>Due item</th>
										<th>Ordered by</th>
										<th>Processed date</th>
										<th>Was due</th>
										<th></th>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</section>
			</div>
		<% } else{ %>
			<div class="col-sm-6">
				<section class="panel">
					<header class="panel-heading">
						Today's Due items
						<span class="tools pull-right">
							<a href="javascript:;" class="fa fa-chevron-down"></a>
						</span>
					</header>
					<div class="panel-body">
						<div class="adv-table">
							<table  class="display table table-bordered table-striped" id="dynamic-table">
								<thead>
									<tr>
										<th>Due item</th>
										<th>Ordered by</th>
										<th>Was due</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<% foreach(DueSheets ds, cdues){ %>
										<tr class="gradeA">
											<td><%= ds.orderedItem() %></td>
											<td><%= ds.orderedBy() %></td>
											<% if(QDate::fromString(ds.dueDate(), "yyyy-MM-dd") == QDate::currentDate()){ %>
												<td>today</td>
											<% } else{ %>
												<% if(QDate::fromString(ds.dueDate(), "yyyy-MM-dd").daysTo(QDate::currentDate()) == 1){ %>
													<td>a day ago</td>
												<% } else{ %>
													<td><%= QDate::fromString(ds.dueDate(), "yyyy-MM-dd").daysTo(QDate::currentDate()) %>days ago</td>
												<% } %>
											<% } %>
											<td>
												<% if(QDate::fromString(ds.dueDate(), "yyyy-MM-dd") == QDate::currentDate()){ %>
													<a href="<%= urla("activateFine", ds.id()) %>" class="btn btn-primary btn-xs disabled" data-toggle="tooltip" title="Activate fine"><i class='fa fa-cogs'></i></a>
												<% } else{ %>
													<% if(QDate::fromString(ds.dayFineLastActivate(), "yyyy-MM-dd") == QDate::currentDate()){ %>
														<a href="<%= urla("activateFine", ds.id()) %>" class="btn btn-primary btn-xs disabled" data-toggle="tooltip" title="Activate fine"><i class='fa fa-cogs'></i></a>
													<% } else{ %>
														<a href="<%= urla("activateFine", ds.id()) %>" class="btn btn-primary btn-xs" data-toggle="tooltip" title="Activate fine"><i class='fa fa-cogs'></i></a>
													<% } %>
												<% } %>
												<a href="<%= urla("checkIn", ds.id()) %>" class="btn btn-success btn-xs" data-toggle="tooltip" title="Check item in"><i class='fa fa-share-square-o'></i></a>
											</td>
										</tr>
									<% } %>
								</tbody>
								<tfoot>
									<tr>
										<th>Due item</th>
										<th>Ordered by</th>
										<th>Was due</th>
										<th></th>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</section>
			</div>
			<div class="col-sm-6">
				<section class="panel">
					<header class="panel-heading">
						Checkin form
						<span class="tools pull-right">
							<a href="javascript:;" class="fa fa-chevron-down"></a>
						</span>
					</header>
					<div class="panel-body">
						<div class="form">
							<%== formTag(urla("checkInProcess", dueSheet.id()), Tf::Post, "", a("class", "cmxform tasi-form")) %>
								<div class="form-group">
									<label for="itemOrdered">Item to Checkin</label>
									<input class=" form-control" type="text" value="<%= dueSheet.orderedItem() %>" readonly />
								</div>
								<div class="form-group">
									<label for="orderedBy">User returning item</label>
									<input class="form-control" name="" type="text" value="<%= dueSheet.orderedBy() %>" readonly />
								</div>
								<div class="form-group">
									<div class="pull-right">
										<button class="btn btn-danger" type="submit">Check in</button>
										<a class="btn btn-default" type="button" href="/Staff/viewDueSheet">Cancel</a>
									</div>
								</div>
							</form>
						</div>
					</div>
				</section>
			</div>
		<% } %>
    </div>
    <!-- page end-->
</section>
