<%#include "clientorder.h" %>
<%#include "rentalagent.h" %>
<% tfetch(QList<ClientOrder>, ufOrderList); %>
<% tfetch(QList<ClientOrder>, fOrderList); %>
<% tfetch(RentalAgent, agent); %>
<% tfetch(QVariantMap, clientOrder); %>
<section class="wrapper">
    <!-- page start-->
    <div class="row">
       	<div class="col-sm-6">
            <section class="panel">
              	<header class="panel-heading">
				<b>Unprocessed orders</b>
             		<span class="tools pull-right">
                		<a href="javascript:;" class="fa fa-chevron-down"></a>
             		</span>
              	</header>
              	<div class="panel-body">
              		<div class="adv-table">
              			<table  class="display table table-bordered table-striped" id="dynamic-table">
              				<thead>
              					<tr>
                  					<th>Item</th>
                  					<th>Ordered by</th>
                  					<th>Processed?</th>
                  					<th></th>
              					</tr>
              				</thead>
              				<tbody>
              					<% foreach(ClientOrder uo, ufOrderList){ %>
	              					<tr class="gradeA">
		                  					<td><%= uo.movie() %></td>
		                  					<td><%= uo.user() %></td>
		                  					<td><%= uo.fulfilled() %></td>
		                  					<td>
		                  						<a href="<%= urla("orderProcessForm", uo.id()) %>" class="btn btn-primary btn-xs" data-toggle="tooltip" title="Proccess this order"><i class='fa fa-cogs'></i></a>
	              					</tr>
              					<% } %>
              				</tbody>
              				<tfoot>
              					<tr>
                  					<th>Item</th>
                  					<th>Ordered by</th>
                  					<th>Processed?</th>
                  					<th></th>
              					</tr>
              				</tfoot>
              			</table>
              		</div>
              	</div>
            </section>
        </div>

        <% if(controller()->activeAction() == "orderListings"){ %>
			<div class="col-sm-6">
				<section class="panel">
					<header class="panel-heading">
						<b>Processed orders</b>
						<span class="tools pull-right">
							<a href="javascript:;" class="fa fa-chevron-down"></a>
						</span>
					</header>
					<div class="panel-body">
						<div class="adv-table">
							<table  class="display table table-bordered table-striped" id=" ">
								<thead>
									<tr>
										<th>Item</th>
										<th>Ordered by</th>
										<th>Processed?</th>
									</tr>
								</thead>
								<tbody>
									<% foreach(ClientOrder fo, fOrderList){ %>
										<tr class="gradeA">
											<td><%= fo.movie() %></td>
											<td><%= fo.user() %></td>
											<td><%= fo.fulfilled() %></td>
										</tr>
									<% } %>
								</tbody>
								<tfoot>
									<tr>
										<th>Item</th>
										<th>Ordered by</th>
										<th>Processed?</th>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</section>
			</div>
		<% } else{ %>
			<div class="col-sm-6">
				<section class="panel">
					<header class="panel-heading">
						<b>Order processing</b>
						<span class="tools pull-right">
							<a href="javascript:;" class="fa fa-chevron-down"></a>
						</span>
					</header>
					<div class="panel-body">
						<div class="form">
							<%== formTag(urla("orderProcessed", clientOrder["id"]), Tf::Post, "", a("class", "cmxform tasi-form")) %>
								<div class="form-group">
									<label for="itemOrdered">Item Ordered</label>
									<input class=" form-control" name="clientOrder[movie]" type="text" value="<%= clientOrder["movie"] %>" readonly />
								</div>
								<div class="form-group">
									<label for="orderedBy">Ordered by</label>
									<input class=" form-control" name="clientOrder[user]" type="text" value="<%= clientOrder["user"] %>" readonly />
								</div>
								<div class="form-group">
									<label for="processedDate">Proccessed date</label>
									<input class=" form-control" name="processedDate" type="date" value="<%==$ date %>" readonly />
								</div>
								<div class="form-group">
									<label for="dueDate">Due date</label>
									<input class=" form-control" name="dueDate" type="date" required/>
								</div>
								<div class="form-group">
									<div class="pull-right">
										<button class="btn btn-danger" type="submit">Process</button>
										<a class="btn btn-default" type="button" 
										href="/Staff/orderListings/<%= agent.location() %>">Cancel</a>
									</div>
								</div>
							</form>
						</div>
					</div>
				</section>
			</div>
		<% } %>
    </div>
    <!-- page end-->
</section>
