.clearfix{zoom:1;}.clearfix:before,.clearfix:after{content:"";display:table;}.clearfix:after{clear:both;}body{background:#ffffff;color:#59595a;font-weight:400;font-size:13px;line-height:2;-webkit-font-smoothing:antialiased;}h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{line-height:1.1;color:#454545;letter-spacing:1px;}hr{display:block;margin:1em 0;padding:0;height:1px;border:0;border-top:1px solid #d8dcee;}img,embed,object,video,iframe{border:0;max-width:100%;height:auto;}iframe{width:100%;}.img-rounded{-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}.pageload{width:100%;height:100%;position:fixed;top:0;background-color:white;background-color:rgba(255,255,255,0.99);z-index:99999;}.logo{text-align:center;display:block;z-index:2000;font-size:20px;}.logo a{border-color:#2e353d;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;padding:5px 16px;font-size:11px;text-align:center;}.pageload .loader{position:absolute;margin:-12px 0 0 -12px;top:50%;left:50%;text-align:center;width:24px;}.loader:after{border-radius:50%;width:24px;height:24px;margin:0 auto;display:block;z-index:2000;border-radius:24px;content:"";-webkit-animation:spinner 400ms linear infinite;-moz-animation:spinner 400ms linear infinite;-ms-animation:spinner 400ms linear infinite;-o-animation:spinner 400ms linear infinite;animation:spinner 400ms linear infinite;}@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes spinner {
  0% {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
blockquote {
  margin: 15px 0;
  padding: 10px;
  border: 0;
  font-size: 14px;
  display: block;
}
blockquote:before {
  color: #E2E4E9;
  font-family: Georgia, serif;
  content: "“";
  font-size: 40px;
  margin-right: 10px;
  float: left;
  line-height: 1;
}
blockquote p {
  display: inline;
}
.pullquote {
  font-style: italic;
  display: block;
  float: left;
  font-size: 1.6em;
  width: 55%;
}
.pullquote:before {
  font-family: Georgia, serif;
  content: "“";
  font-style: normal;
  font-size: 40px;
  float: left;
  color: #E2E4E9;
}
.drop-cap {
  float: left;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  font-family: Georgia;
}
.drop-cap.boxed {
  padding: 10px;
  margin: 0 5px 5px 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
/*
 *
 * $Header layout
 *
 * Core theme layout styles
 */
/* header element */
.header {
  z-index: 5000;
  min-height: 60px;
  margin: 0;
  border: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.header nav {
  position: relative;
  min-height: 60px;
  margin: 60px 0;
}
.header .logo {
  line-height: 30px;
  height: 60px;
  font-size: 14px;
  float: left;
  padding: 15px;
  font-weight: 800;
  text-transform: uppercase;
}
.header .mobile-toggle {
  padding: 5px 0;
  font-size: 16px;
  position: relative;
  float: right;
  margin-right: 15px;
  padding: 13px 10px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: 0;
}
.header .navigation > ul > li {
  position: relative;
  display: block;
}
.header .navigation > ul > li > a {
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  margin: 14px 10px;
  padding: 5px;
  font-weight: 600;
}
.header .navigation > ul > li > a.nav-btn {
  padding-left: 10px;
  padding-right: 10px;
  line-height: 20px;
}
.header .navigation > ul > li > a:hover:not(.nav-btn),
.header .navigation > ul > li > a:focus:not(.nav-btn) {
  background-color: transparent;
}
.header .navigation > ul > li > a.nav-btn:hover,
.header .navigation > ul > li > a.nav-btn:focus {
  background-color: inherit;
}
.header .mobile-toggle,
.header .logo,
.header .navigation > ul > li > a:not(.nav-btn) {
  color: rgba(255, 255, 255, 0.8);
}
.header.sticky,
.header.fixed-sticky {
  position: fixed;
  top: 0;
  margin: 0;
}
.header.sticky nav,
.header.fixed-sticky nav {
  margin: 0;
}
.header.sticky .navigation > .nav > li:hover,
.header.fixed-sticky .navigation > .nav > li:hover,
.header.sticky .navigation > .nav > li.active,
.header.fixed-sticky .navigation > .nav > li.active {
  background-color: rgba(0, 0, 0, 0.02);
}
.header.sticky {
  top: -60px;
}
.header.fixed-sticky + section {
  padding-top: 60px;
}
.header.header-dark.sticky,
.header.header-dark.fixed-sticky {
  background-color: #2e353d;
  background-color: rgba(46, 53, 61, 0.95);
}
.header.header-dark a,
.header.header-dark .mobile-toggle {
  color: #f2f2f3;
}
.header .dropdown-menu a {
  text-transform: capitalize;
  font-size: 11px;
  padding: 10px 15px;
}
.header .dropdown-menu a:hover,
.header .dropdown-menu a:focus {
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .header .container {
    padding: 0;
  }
  .mobile-toggle {
    display: none;
    visibility: hidden;
  }
  .navigation {
    display: block!important;
    float: right;
  }
  .navigation > ul {
    float: left;
    margin: 0;
  }
  .navigation > ul > li {
    float: left;
  }
  .navigation > ul > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .header .dropdown-menu {
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.9);
    border-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    left: auto;
    right: 0;
  }
  .header.sticky .dropdown-menu,
  .header.fixed-sticky .dropdown-menu {
    border-color: #d0d6dc;
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .header.header-dark .dropdown-menu {
    background-color: rgba(46, 53, 61, 0.95);
    border: 0;
  }
}
@media (max-width: 767px) {
  .header {
    -webkit-transition: background 300ms;
    -moz-transition: background 300ms;
    -o-transition: background 300ms;
    transition: background 300ms;
  }
  .header .branding {
    width: 100%;
    zoom: 1;
  }
  .header .branding:before,
  .header .branding:after {
    content: "";
    display: table;
  }
  .header .branding:after {
    clear: both;
  }
  .header .navigation {
    display: none;
    overflow-x: visible;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  .header .navigation > ul > li a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.16);
    margin: 5px 15px;
    padding: 5px 0;
  }
  .header.header-dark .navigation > ul > li a {
    border-bottom: 1px solid #cccccd;
  }
  .header .navigation > ul > li:last-child a {
    border-bottom: 0;
  }
  .header .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }
  .header .open .dropdown-menu > li > a,
  .header .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }
  .header .dropdown-menu > li > a {
    color: rgba(255, 255, 255, 0.8);
  }
  .header .dropdown-menu > li > a:hover {
    color: #ffffff;
  }
}
/*
 * $Content Layout
 *
 * Core theme layout styles
 */
/* Different sections of the page */
section {
  overflow: hidden;
  position: relative;
}
.content-section > .container,
.content-section > .container-fluid {
  position: relative;
  z-index: 1001;
}
.content-section > .container,
.content-section > .container-fluid {
  padding-top: 150px;
  padding-bottom: 150px;
}
footer.content-section .container,
.content-section.banner .container {
  padding-top: 50px;
  padding-bottom: 50px;
}
.content-section.portfolio .container-fluid {
  padding-top: 100px;
  padding-left: 0;
  padding-right: 0;
}
.with-video {
  min-height: 500px;
}
.content-section .section-title .heading {
  color: #878788;
  font-family: Georgia, Serif;
}
.content-section .section-title .heading:after {
  display: block;
  margin: 10px auto;
  content: "";
  width: 30px;
  border-bottom: 1px solid #fcfcfe;
}
.content-section .section-title .sub-heading {
  color: #2b2b2c;
  text-transform: uppercase;
}
.color-inherit h1,
.color-inherit h2,
.color-inherit h3,
.color-inherit h4,
.color-inherit h5,
.color-inherit h6,
.color-inherit .h1,
.color-inherit .h2,
.color-inherit .h3,
.color-inherit .h4,
.color-inherit .h5,
.color-inherit .h6,
.color-inherit .heading-font {
  color: inherit;
}
.color-inherit .section-title,
.color-inherit .section-title h4,
.color-inherit .section-title h5 {
  color: inherit;
}
.color-inherit .section-title h5:after {
  border-bottom: 1px solid #fff;
}
.vertical-center {
  display: table;
  width: 100%;
}
.vertical-center > .container {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  float: none;
}
[data-animation] {
  visibility: hidden;
}
.animated {
  visibility: visible!important;
}
.visible {
  visibility: visible;
}
.call-to-action {
  margin-top: 50px;
}
.call-to-action a {
  margin: 0 7.5px 15px 7.5px;
  min-width: 130px;
}
/*
 *  Hero
 *
 */
.hero {
  min-height: 150px;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  z-index: 999;
  padding: 0;
  text-align: center;
}
.hero .hero-parallax {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.hero .hero-container {
  position: relative;
  z-index: 1000;
  width: 100%;
  margin: 0 auto;
}
.hero .hero-title {
  color: inherit;
  text-transform: uppercase;
  font-size: 40px;
}
.hero .hero-title.boxed {
  border: 4px solid #fff;
  border: 4px solid rgba(255, 255, 255, 0.8);
  padding: 10px 30px;
  display: inline-block;
}
.hero .hero-sub-title {
  color: inherit;
  letter-spacing: 1px;
  font-family: Georgia, Serif;
  font-size: 15px;
}
@media (max-width: 767px) {
  .hero .hero-title {
    font-size: 3em;
  }
}
/*
 *  Hero with bxslider
 *
 */
.hero .bxslider {
  margin: 0;
  padding: 0;
}
.hero .bxslider .container {
  display: table;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
}
.hero .bxslider .hero-container {
  display: table-cell;
  vertical-align: middle;
}
.hero .bxslider li {
  display: block;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.hero .bx-pager {
  z-index: 1002!important;
  width: auto!important;
  right: 30px;
}
.hero .bx-wrapper .bx-pager.bx-default-pager a {
  background-color: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.hero .bx-wrapper .bx-pager.bx-default-pager a:hover,
.hero .bx-wrapper .bx-pager.bx-default-pager a.active {
  background-color: transparent;
  -webkit-box-shadow: 0 0 0 2px #ffffff;
  box-shadow: 0 0 0 2px #ffffff;
}
/*
 *  Parallax
 *
 */
.parallax-cover {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.parallax,
.parallax-0 {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.no-touch .parallax,
.no-touch .parallax-0 {
  background-attachment: fixed;
}
/*
 *  Overlays
 *
 */
.overlay-pattern {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-attachment: fixed;
}
/* Darken */
.overlay-darken-1,
.overlay-darken-2,
.overlay-darken-3,
.overlay-darken-4,
.overlay-darken-5,
.overlay-darken-6,
.overlay-darken-7,
.overlay-darken-8,
.overlay-darken-9 {
  position: absolute;
  z-index: 1000;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
}
.overlay-darken-1 {
  background-color: rgba(0, 0, 0, 0.1);
}
.overlay-darken-2 {
  background-color: rgba(0, 0, 0, 0.2);
}
.overlay-darken-3 {
  background-color: rgba(0, 0, 0, 0.3);
}
.overlay-darken-4 {
  background-color: rgba(0, 0, 0, 0.4);
}
.overlay-darken-5 {
  background-color: rgba(0, 0, 0, 0.5);
}
.overlay-darken-6 {
  background-color: rgba(0, 0, 0, 0.6);
}
.overlay-darken-7 {
  background-color: rgba(0, 0, 0, 0.7);
}
.overlay-darken-8 {
  background-color: rgba(0, 0, 0, 0.8);
}
.overlay-darken-9 {
  background-color: rgba(0, 0, 0, 0.9);
}
/* Colored */
/* Dotted */
.overlay-stripped {
  background: url(../img/stripped.png);
  position: absolute;
  opacity: 0.5;
  filter: alpha(opacity=50);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}
/*
 *  Fullwidth background video
 *
 */
.video-background {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.video-background .mb_YTVPBar {
  z-index: 9999!important;
}
.video-background video {
  position: absolute !important;
  top: 0 !important;
  max-width: initial;
}
/*
 *  Page Sections
 *
 */
/* Section title */
.section-title {
  margin-bottom: 70px;
  text-align: center;
}
/*
 *  Section About
 *
 */
@media screen and (min-width: 768px) {
  .showcase {
    position: relative;
    margin-top: 80px;
  }
  .showcase-left {
    position: absolute;
    left: 0;
    top: 130px;
    width: 468px;
    z-index: 99;
  }
  .showcase-right {
    position: absolute;
    right: 0;
    top: 130px;
    width: 468px;
    z-index: 99;
  }
  .showcase-center {
    position: relative;
    width: 684px;
    margin: 0 auto;
    z-index: 100;
  }
}
@media (max-width: 767px) {
  .showcase-left,
  .showcase-right,
  .showcase-center {
    position: relative;
    width: 100%;
  }
}
/*
 *  Section Statistics
 *
 */
.count-icon {
  font-size: 40px;
}
.count {
  display: block;
  margin: 0;
  font-size: 32px;
  line-height: 1.8;
  font-weight: 800;
}
.icon {
  display: block;
  position: relative;
  max-width: 50%;
  margin: 0 auto;
  font-size: 16px;
}
/*
 *  Section Features
 *
 */
.content-section.features > .container {
  padding-bottom: 0!important;
}
.feature > .container {
  max-width: 940px;
}
.feature-img {
  position: absolute;
  left: 40px;
  bottom: 0;
}
.feature-icon {
  margin: 0 auto 15px;
  width: 60px;
  line-height: 60px;
  font-size: 30px;
  color: #D6D6D6;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.feature-icon.bg-color {
  color: #fff;
}
.feature-icon.huge {
  width: 100px;
  line-height: 100px;
  background-color: #eaecf6;
}
.feature-icon.left {
  float: left;
  margin: 15px 15px 0 0;
  width: auto;
  line-height: 1;
}
.feature-description {
  overflow: hidden;
}
/*
 *  Section reviews
 *
 */
.reviews-carousel blockquote {
  font-size: 13px;
  float: none;
}
.reviews-carousel blockquote:before {
  color: #8A8A8A;
}
.reviews-carousel .reviews-avatar {
  width: 48px;
  max-width: 100%;
}
.reviews-carousel .reviews-meta {
  overflow: hidden;
}
.reviews-carousel .reviews-name {
  margin-top: 5px;
  margin-bottom: 0;
}
.reviews-carousel .owl-item {
  padding: 0 15px;
  margin-bottom: 15px;
  display: block;
}
@media screen and (min-width: 768px) {
  .reviews-carousel .reviews-avatar {
    float: left;
  }
}
@media (max-width: 767px) {
  .reviews-carousel .owl-item {
    text-align: center;
  }
  .reviews-carousel .reviews-avatar {
    margin: 0 auto;
    display: block;
  }
}
/*
 *  Section feature slider
 *
 */
.slider .bx-wrapper img {
  margin: 0 auto;
}
.horizontal-list {
  padding: 0;
  list-style: none;
}
.horizontal-list li {
  display: inline-block;
  margin-right: 15px;
}
.feature-details {
  margin-bottom: 30px;
}
.feature-description {
  margin-bottom: 25px;
}
.feature-list {
  background-color: #eaecf6;
  padding: 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.feature-slider {
  padding: 0;
  list-style: none;
}
/*
 *  Section Contact
 *
 */
.response {
  display: none;
}
.submit-group {
  position: relative;
}
.submit-group.active .btn {
  color: #fff;
}
.submit-group .loader {
  display: none;
  visibility: hidden;
  position: relative;
  margin: 0 0 0 15px;
  width: auto;
}
.submit-group .loader:after {
  margin: 10px;
}
.submit-group.active .loader {
  display: inline-block;
  visibility: visible;
}
.contact-details {
  list-style: none;
  padding: 0;
}
/*
 *  Section Footer
 *
 */
footer {
  position: relative;
}
footer .scroll-top {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.7);
  display: block;
  margin: 0 auto 20px auto;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
/*
 *  404 page
 *
 */
.error-number {
  font-size: 150px;
  font-weight: 800;
}
/*
 *  Shortcode page
 *
 */
.shortcodes .section-title {
  margin-bottom: 20px;
}
.shortcodes .text-note {
  margin-top: 50px;
  text-transform: uppercase;
}
.shortcodes .example {
  margin-bottom: 80px;
}
.shortcodes .documents {
  max-width: 840px;
}
/*
 *  Bootstrap $Breadcrumb
 *
 */
.breadcrumb {
  background-color: #ffffff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.breadcrumb > li + li:before {
  padding: 0 5px;
  content: "\f105\00a0";
  font-family: FontAwesome;
}
/*
 *  $Presentation styles
 *
 */
pre {
  color: #59595a;
  background-color: #EFF2F5;
  border: 1px solid #d8dcee;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 11px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}
/*
 *  Bootstrap $Pagination
 *
 */
.pagination {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.pagination > li > a,
.pagination > li > span {
  border-color: #d8dcee;
}
.pagination > li > a:hover,
.pagination > li > span:hover {
  background-color: #eaecf6;
  border-color: #c6cce7;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  border-radius: 2px 0 0 2px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: 0 2px 2px 0;
}
/*
 *  Bootstrap $Pager
 *
 */
.pager > li > a,
.pager > li > span {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.pager > li > a.next {
  float: right;
}
.pager > li > a.prev {
  float: left;
}
/*
 * Bootstrap $Popover
 *
 */
.popover {
  border: 1px solid #c4d1df;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.popover .popover-title {
  border-bottom: 1px solid #d8dcee;
  background-color: #fafbfd;
}
/*
 * Bootstrap $Tooltip
 *
 */
.tooltip-inner {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: 2px;
  background: #2e353d;
  padding: 10px;
}
.tooltip.top .tooltip-arrow {
  border-top-color: #2e353d;
}
.tooltip.top-left .tooltip-arrow {
  border-top-color: #2e353d;
}
.tooltip.top-right .tooltip-arrow {
  border-top-color: #2e353d;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #2e353d;
}
.tooltip.left .tooltip-arrow {
  border-left-color: #2e353d;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #2e353d;
}
.tooltip.bottom-left .tooltip-arrow {
  border-bottom-color: #2e353d;
}
.tooltip.bottom-right .tooltip-arrow {
  border-bottom-color: #2e353d;
}
.tooltip.in {
  opacity: 1;
  filter: alpha(opacity=100);
}
/*
 *  Bootstrap $Alerts
 *
 */
.alert-success {
  background-color: transparent;
  border-color: #15db81;
  color: #15db81;
}
.alert-success hr {
  border-top-color: #13c473;
}
.alert-success .alert-link {
  color: #11ac66;
}
.alert-info {
  background-color: transparent;
  border-color: #15acdc;
  color: #15acdc;
}
.alert-info hr {
  border-top-color: #139ac5;
}
.alert-info .alert-link {
  color: #1188ad;
}
.alert-warning {
  background-color: transparent;
  border-color: #daac16;
  color: #daac16;
}
.alert-warning hr {
  border-top-color: #c39a14;
}
.alert-warning .alert-link {
  color: #ac8711;
}
.alert-danger {
  background-color: transparent;
  border-color: #da3e16;
  color: #da3e16;
}
.alert-danger hr {
  border-top-color: #c33714;
}
.alert-danger .alert-link {
  color: #ac3111;
}
.alert {
  padding: 15px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.alert-dismissable .close {
  right: 0;
}
.subscribe-message .response .alert {
  border: 0;
  padding: 0;
  color: inherit;
  font-size: 12px;
}
.subscribe-message .response .alert .close {
  color: #000;
  top: 2px;
}
/*
 * Bootstrap $Tables
 *
 */
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 6px;
  border-color: #d8dcee;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #eaeaf2;
}
.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr.active:hover > th {
  background-color: #eaeaf2;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: transparent;
}
.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
  background-color: #fafafc;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #d8dcee;
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #7df3bd;
  border-color: #66f0b1;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td {
  background-color: #095934;
  border-color: #095934;
}
.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background-color: #7ed6f3;
  border-color: #67cff0;
}
.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td {
  background-color: #09465a;
  border-color: #09465a;
}
.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #f2957e;
  border-color: #f08266;
}
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td {
  background-color: #581909;
  border-color: #581909;
}
.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #f2d77e;
  border-color: #f0cf66;
}
.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td {
  background-color: #584609;
  border-color: #584609;
}
.pricing-table {
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #fff;
  border: 1px solid #d8dcee;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  text-align: center;
}
.pricing-table .pricing-body {
  padding: 15px 0;
}
.pricing-table .plan-features {
  list-style: none;
  padding: 0;
}
.pricing-table .plan-price {
  margin: 15px 0;
}
.pricing-table .plan-price span {
  font-size: 40px;
  display: block;
}
.pricing-table .plan-features {
  border-top: 1px solid #ffffff;
}
.pricing-table .plan-features > li {
  padding: 5px 15px;
  font-family: Georgia, Serif;
  font-style: italic;
}
.pricing-table .plan-features > li:nth-child(even) {
  background: #fcfcfc;
}
.pricing-table.active {
  margin-top: 0;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  position: relative;
  padding-bottom: 15px;
  overflow: hidden;
  padding-top: 15px;
}
.pricing-table .toggle {
  color: #59595a;
  padding: 15px;
  display: block;
}
.pricing-table .toggle a {
  display: block;
}
.pricing-table .toggle a:after {
  font-family: themify;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e61a";
  display: block;
  margin: 0 auto;
  width: 24px;
  height: 24px;
  text-align: center;
  font-size: 12px;
  border: 1px solid #d8dcee;
  color: #d8dcee;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.pricing-table .toggle a.active:after {
  content: "\e622";
}
/*
 * Bootstrap $Panels
 *
 */
.panel {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.panel > .list-group:first-child .list-group-item:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.panel > .list-group:last-child .list-group-item:last-child {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
.panel-heading {
  border-color: #d8dcee;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.panel-heading.gray {
  background: #fcfcfc;
}
.panel-heading.gradient {
  background: #fcfcfc;
  background: -moz-linear-gradient(top, #fcfcfc 0%, #f5f5f5 100%);
  background: -webkit-linear-gradient(top, #fcfcfc 0%, #f5f5f5 100%);
  background: linear-gradient(to bottom, #fcfcfc 0%, #f5f5f5 100%);
}
.panel-footer {
  border-top: 1px solid #d8dcee;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: #fcfcfc;
}
.panel-group .panel {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.panel-default {
  border-color: #eaecf6;
}
.panel-default > .panel-heading {
  color: #59595a;
  background-color: #eaecf6;
  border-color: #eaecf6;
}
.panel-default > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #eaecf6;
}
.panel-default > .panel-heading a {
  color: #59595a;
}
.panel-default > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #eaecf6;
}
.panel-primary {
  border-color: #1582dc;
}
.panel-primary > .panel-heading {
  color: #ffffff;
  background-color: #1582dc;
  border-color: #1582dc;
}
.panel-primary > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #1582dc;
}
.panel-primary > .panel-heading a {
  color: #ffffff;
}
.panel-primary > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #1582dc;
}
.panel-success {
  border-color: #15db81;
}
.panel-success > .panel-heading {
  color: #ffffff;
  background-color: #15db81;
  border-color: #15db81;
}
.panel-success > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #15db81;
}
.panel-success > .panel-heading a {
  color: #ffffff;
}
.panel-success > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #15db81;
}
.panel-warning {
  border-color: #daac16;
}
.panel-warning > .panel-heading {
  color: #ffffff;
  background-color: #daac16;
  border-color: #daac16;
}
.panel-warning > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #daac16;
}
.panel-warning > .panel-heading a {
  color: #ffffff;
}
.panel-warning > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #daac16;
}
.panel-danger {
  border-color: #da3e16;
}
.panel-danger > .panel-heading {
  color: #ffffff;
  background-color: #da3e16;
  border-color: #da3e16;
}
.panel-danger > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #da3e16;
}
.panel-danger > .panel-heading a {
  color: #ffffff;
}
.panel-danger > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #da3e16;
}
.panel-info {
  border-color: #15acdc;
}
.panel-info > .panel-heading {
  color: #ffffff;
  background-color: #15acdc;
  border-color: #15acdc;
}
.panel-info > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #15acdc;
}
.panel-info > .panel-heading a {
  color: #ffffff;
}
.panel-info > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #15acdc;
}
.panel-dark {
  border-color: #2e353d;
}
.panel-dark > .panel-heading {
  color: #ffffff;
  background-color: #2e353d;
  border-color: #2e353d;
}
.panel-dark > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #2e353d;
}
.panel-dark > .panel-heading a {
  color: #ffffff;
}
.panel-dark > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #2e353d;
}
/*
 * Bootstrap $Forms
 *
 */
label {
  font-weight: normal;
}
/* Resize textarea vertically */
textarea {
  resize: none;
}
textarea.form-control {
  height: auto;
  min-height: 150px;
}
/* Default placeholder text */
.form-control {
  -webkit-font-smoothing: antialiased;
}
.form-control:-moz-placeholder {
  color: #a6a6a6;
}
.form-control::-moz-placeholder {
  color: #a6a6a6;
}
.form-control:-ms-input-placeholder {
  color: #a6a6a6;
}
.form-control::-webkit-input-placeholder {
  color: #a6a6a6;
}
.form-control {
  border: 1px solid #d8dcee;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  -moz-transition: border .25s linear, color .25s linear, background-color .25s linear;
  -o-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
  -webkit-appearance: none;
  font-weight: 400;
  font-size: 13px;
}
.form-control:focus,
#focusedInput {
  outline: 0;
  border-color: #dfe2f1;
  background-color: #f1f2f9;
  -webkit-box-shadow: none;
  box-shadow: none;
}
input[type="file"] {
  line-height: 1;
}
/*
 * Validation States
 *
 */
.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline {
  color: #15db81;
}
.has-success .form-control {
  border-color: #15db81;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-success .form-control:focus {
  border-color: #11ac66;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #66f0b1;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #66f0b1;
}
.has-success .input-group-addon {
  color: #15db81;
  border-color: #15db81;
  background-color: #15db81;
}
.has-success .form-control-feedback {
  color: #15db81;
}
.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline {
  color: #daac16;
}
.has-warning .form-control {
  border-color: #daac16;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-warning .form-control:focus {
  border-color: #ac8711;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #f0cf66;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #f0cf66;
}
.has-warning .input-group-addon {
  color: #daac16;
  border-color: #daac16;
  background-color: #daac16;
}
.has-warning .form-control-feedback {
  color: #daac16;
}
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline {
  color: #da3e16;
}
.has-error .form-control {
  border-color: #da3e16;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-error .form-control:focus {
  border-color: #ac3111;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #f08266;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #f08266;
}
.has-error .input-group-addon {
  color: #da3e16;
  border-color: #da3e16;
  background-color: #da3e16;
}
.has-error .form-control-feedback {
  color: #da3e16;
}
.input-group-addon {
  background-color: #eaecf6;
  border: 1px solid #d8dcee;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
/*
 * Bootstrap $Dropdown
 *
 */
.dropdown-menu {
  margin: 0;
  padding: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #d8dcee;
  z-index: 9999;
}
.dropdown-menu > li > a {
  font-size: 13px;
  color: #59595a;
}
.dropdown-menu > li > a:hover {
  background: #d8dcee;
}
.dropdown-menu .divider {
  margin: 2px 0;
  height: 1px;
  background-color: #c6cce7;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-color: #d8dcee;
  color: #59595a;
}
@media screen and (min-width: 768px) {
  .show-on-hover:hover .dropdown-menu {
    display: block;
  }
  .dropdown.open .dropdown-menu {
    display: block;
  }
}
@media (max-width: 767px) {
  .show-on-hover.open .dropdown-menu,
  .collapse-open {
    display: block;
  }
  .show-on-hover.open .dropdown-menu {
    width: 100%;
  }
  .dropdown-menu.dropdown-menu {
    top: 100%;
    left: 0;
  }
}
/*
 * $Progress-Bar styles
 *
 */
.progress {
  overflow: visible;
  margin-bottom: 15px;
  height: 6px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #d0dbec;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.progress-bar {
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
  position: relative;
  -webkit-transition: width 800ms ease;
  -moz-transition: width 800ms ease;
  -o-transition: width 800ms ease;
  transition: width 800ms ease;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.progress-value {
  background: #2e353d;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  position: absolute;
  width: 40px;
  height: 18px;
  line-height: 18px;
  font-size: 11px;
  text-align: center;
  color: #fff;
  top: -25px;
  right: -20px;
}
.progress-value:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 4px;
  border-style: solid;
  border-color: #2e353d transparent transparent;
  top: 18px;
  left: 15px;
}
.progress-bar-success {
  background-color: #15db81;
}
.progress-striped .progress-bar-success {
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-info {
  background-color: #15acdc;
}
.progress-striped .progress-bar-info {
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-warning {
  background-color: #daac16;
}
.progress-striped .progress-bar-warning {
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-danger {
  background-color: #da3e16;
}
.progress-striped .progress-bar-danger {
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-dark {
  background-color: #da3e16;
}
.progress-striped .progress-bar-dark {
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress {
  position: relative;
}
.progress > .progress-type {
  position: absolute;
  left: 0px;
  font-weight: 800;
  padding: 3px 30px 2px 10px;
  color: #ffffff;
  background-color: rgba(25, 25, 25, 0.2);
}
.progress > .progress-completed {
  position: absolute;
  right: 0px;
  padding: 3px 10px 2px;
}
/*
 * Bootstrap $Navbar
 *
 */
.navbar {
  margin-bottom: 0;
}
.navbar .navbar-text {
  float: left;
  margin-right: 15px;
  margin-left: 15px;
}
.navbar-nav {
  margin: 0;
}
.navbar-nav > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 11px;
  text-transform: uppercase;
}
.navbar-nav.nav-tabs {
  background: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.navbar-nav.nav-tabs > li > a {
  margin: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 16px 15px;
}
.navbar-inverse {
  border-color: #2e353d;
  background-color: #2e353d;
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #272d34;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #2e353d;
}
.navbar-inverse .navbar-nav .open .dropdown-menu .divider {
  background-color: #23282e;
}
@media (max-width: 767px) {
  .navbar-collapse {
    padding: 0;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
}
@media (max-width: 767px) {
  .navbar-form {
    padding-top: 0;
    padding-bottom: 0;
  }
}
/*
 * Bootstrap $Navs
 *
 */
/* Pills */
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #1582dc;
}
.nav-pills > li > a {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
/* Tabs */
.nav-tabs {
  border-radius: 2px 2px 0 0;
  background: transparent;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  background-color: #f9f9f9;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  border-color: transparent;
  background-color: transparent;
}
.box-tab .tab-content {
  border: 1px solid #ddd;
  border-top: 0;
  padding: 15px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
/*
 *  Bootstrap $Labels
 *
 */
.label-default {
  background-color: #eaecf6;
  color: #59595a;
}
.label-default[href]:hover,
.label-default[href]:focus {
  background-color: #c6cce7;
}
.label-primary {
  background-color: #1582dc;
  color: #fff;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: #1166ad;
}
.label-success {
  background-color: #15db81;
}
.label-success[href]:hover,
.label-success[href]:focus {
  background-color: #11ac66;
}
.label-info {
  background-color: #15acdc;
}
.label-info[href]:hover,
.label-info[href]:focus {
  background-color: #1188ad;
}
.label-warning {
  background-color: #daac16;
}
.label-warning[href]:hover,
.label-warning[href]:focus {
  background-color: #ac8711;
}
.label-danger {
  background-color: #da3e16;
}
.label-danger[href]:hover,
.label-danger[href]:focus {
  background-color: #ac3111;
}
.label-white {
  background-color: #ffffff;
  color: #59595a;
}
.label-white[href]:hover,
.label-white[href]:focus {
  background-color: #e6e6e6;
}
.label-dark {
  background-color: #2e353d;
}
.label-dark[href]:hover,
.label-dark[href]:focus {
  background-color: #181c20;
}
/*
 *  Bootstrap $Buttons
 *
 */
.btn {
  outline: 0;
  -webkit-transition: 0.25s linear;
  -moz-transition: 0.25s linear;
  -o-transition: 0.25s linear;
  transition: 0.25s linear;
  font-weight: 400;
  text-transform: uppercase;
  padding: 10px 12px;
  font-size: 11px;
  line-height: 1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.btn:focus,
.btn:active,
.btn.active {
  outline: 0;
}
.btn-dark {
  color: #ffffff;
  background-color: #2e353d;
  border-color: #2e353d;
}
.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.btn-dark.active,
.open .dropdown-toggle.btn-dark {
  color: #ffffff;
  background-color: #23282e;
  border-color: #23282e;
}
.btn-dark.btn-outline {
  background-color: transparent;
  color: #2e353d;
}
.btn-dark.btn-outline:hover,
.btn-dark.btn-outline:focus,
.btn-dark.btn-outline:active,
.btn-dark.btn-outline.active {
  background-color: #2e353d;
  color: #ffffff;
}
a.btn-dark {
  color: #ffffff;
}
.btn-dark:active,
.btn-dark.active,
.open .dropdown-toggle.btn-dark {
  background-image: none;
}
.btn-dark.disabled,
.btn-dark[disabled],
fieldset[disabled] .btn-dark,
.btn-dark.disabled:hover,
.btn-dark[disabled]:hover,
fieldset[disabled] .btn-dark:hover,
.btn-dark.disabled:focus,
.btn-dark[disabled]:focus,
fieldset[disabled] .btn-dark:focus,
.btn-dark.disabled:active,
.btn-dark[disabled]:active,
fieldset[disabled] .btn-dark:active,
.btn-dark.disabled.active,
.btn-dark[disabled].active,
fieldset[disabled] .btn-dark.active {
  background-color: #2e353d;
  border-color: #2e353d;
}
.btn-outline {
  background-color: transparent;
  color: inherit;
}
.btn-lg,
.btn-group-lg > .btn {
  padding: 16.5px 16px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.btn-sm,
.btn-group-sm > .btn {
  padding: 8px 10px;
}
.btn-xs,
.btn-group-xs > .btn {
  padding: 5px 5px;
  font-size: 10px;
}
.btn-oak {
  background: #fff;
  color: #59595a;
  font-weight: 700;
}
.btn-rounded {
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}
/* Button Groups */
.btn-group-vertical > .btn:last-child:not(:first-child) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.btn-group-vertical > .btn:first-child:not(:last-child) {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
button.subscribe {
  margin-left: 0!important;
}
/*
 *  Default Button Style
 *
 */
.btn-default {
  color: #59595a;
  background-color: #eaecf6;
  border-color: #d8dcee;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #59595a;
  background-color: #d8dcee;
  border-color: #c6cce7;
}
.btn-default.btn-outline {
  background-color: transparent;
  color: #eaecf6;
}
.btn-default.btn-outline:hover,
.btn-default.btn-outline:focus,
.btn-default.btn-outline:active,
.btn-default.btn-outline.active {
  background-color: #eaecf6;
  color: #59595a;
}
a.btn-default {
  color: #59595a;
}
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #eaecf6;
  border-color: #d8dcee;
}
/*
 *  White Button Style
 *
 */
.btn-white {
  color: #0d0d0d;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-white:hover,
.btn-white:focus,
.btn-white:active,
.btn-white.active,
.open .dropdown-toggle.btn-white {
  color: #0d0d0d;
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}
.btn-white.btn-outline {
  background-color: transparent;
  color: #ffffff;
}
.btn-white.btn-outline:hover,
.btn-white.btn-outline:focus,
.btn-white.btn-outline:active,
.btn-white.btn-outline.active {
  background-color: #ffffff;
  color: #0d0d0d;
}
a.btn-white {
  color: #0d0d0d;
}
.btn-white:active,
.btn-white.active,
.open .dropdown-toggle.btn-white {
  background-image: none;
}
.btn-white.disabled,
.btn-white[disabled],
fieldset[disabled] .btn-white,
.btn-white.disabled:hover,
.btn-white[disabled]:hover,
fieldset[disabled] .btn-white:hover,
.btn-white.disabled:focus,
.btn-white[disabled]:focus,
fieldset[disabled] .btn-white:focus,
.btn-white.disabled:active,
.btn-white[disabled]:active,
fieldset[disabled] .btn-white:active,
.btn-white.disabled.active,
.btn-white[disabled].active,
fieldset[disabled] .btn-white.active {
  background-color: #ffffff;
  border-color: #ffffff;
}
/*
 *  Primary Button Style
 *
 */
.btn-primary {
  color: white;
  background-color: #1582dc;
  border-color: #1582dc;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: white;
  background-color: #1374c5;
  border-color: #1374c5;
}
.btn-primary.btn-outline {
  background-color: transparent;
  color: #1582dc;
}
.btn-primary.btn-outline:hover,
.btn-primary.btn-outline:focus,
.btn-primary.btn-outline:active,
.btn-primary.btn-outline.active {
  background-color: #1582dc;
  color: white;
}
a.btn-primary {
  color: white;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #1582dc;
  border-color: #1582dc;
}
/*
 *  Warning Button Style
 *
 */
.btn-warning {
  color: white;
  background-color: #daac16;
  border-color: #daac16;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  color: white;
  background-color: #c39a14;
  border-color: #c39a14;
}
.btn-warning.btn-outline {
  background-color: transparent;
  color: #daac16;
}
.btn-warning.btn-outline:hover,
.btn-warning.btn-outline:focus,
.btn-warning.btn-outline:active,
.btn-warning.btn-outline.active {
  background-color: #daac16;
  color: white;
}
a.btn-warning {
  color: white;
}
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  background-image: none;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #daac16;
  border-color: #daac16;
}
/*
 *  Success Button Style
 *
 */
.btn-success {
  color: white;
  background-color: #15db81;
  border-color: #15db81;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: white;
  background-color: #13c473;
  border-color: #13c473;
}
.btn-success.btn-outline {
  background-color: transparent;
  color: #15db81;
}
.btn-success.btn-outline:hover,
.btn-success.btn-outline:focus,
.btn-success.btn-outline:active,
.btn-success.btn-outline.active {
  background-color: #15db81;
  color: white;
}
a.btn-success {
  color: white;
}
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #15db81;
  border-color: #15db81;
}
/*
 *  Info Button Style
 *
 */
.btn-info {
  color: white;
  background-color: #15acdc;
  border-color: #15acdc;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  color: white;
  background-color: #139ac5;
  border-color: #139ac5;
}
.btn-info.btn-outline {
  background-color: transparent;
  color: #15acdc;
}
.btn-info.btn-outline:hover,
.btn-info.btn-outline:focus,
.btn-info.btn-outline:active,
.btn-info.btn-outline.active {
  background-color: #15acdc;
  color: white;
}
a.btn-info {
  color: white;
}
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  background-image: none;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #15acdc;
  border-color: #15acdc;
}
/*
 *  Danger Button Style
 *
 */
.btn-danger {
  color: #ffffff;
  background-color: #da3e16;
  border-color: #da3e16;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  color: #ffffff;
  background-color: #c33714;
  border-color: #c33714;
}
.btn-danger.btn-outline {
  background-color: transparent;
  color: #da3e16;
}
.btn-danger.btn-outline:hover,
.btn-danger.btn-outline:focus,
.btn-danger.btn-outline:active,
.btn-danger.btn-outline.active {
  background-color: #da3e16;
  color: #ffffff;
}
a.btn-danger {
  color: #ffffff;
}
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  background-image: none;
}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #da3e16;
  border-color: #da3e16;
}
/*
 * Social Buttons for Bootstrap
 *
 * Copyright 2013-2014 Panayiotis Lipiridis
 * Licensed under the MIT License
 *
 * https://github.com/lipis/bootstrap-social
 */
.btn-social {
  position: relative;
  padding-left: 51px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn-social :first-child {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 36px;
  line-height: 38px;
  font-size: 1.6em;
  text-align: center;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.btn-social.btn-lg {
  padding-left: 71px;
}
.btn-social.btn-lg :first-child {
  line-height: 55px;
  width: 55px;
  font-size: 1.8em;
}
.btn-social.btn-sm {
  padding-left: 37px;
}
.btn-social.btn-sm :first-child {
  line-height: 27px;
  width: 27px;
  font-size: 1.4em;
}
.btn-social.btn-xs {
  padding-left: 30px;
}
.btn-social.btn-xs :first-child {
  line-height: 20px;
  width: 20px;
  font-size: 1.2em;
}
.btn-social-icon {
  position: relative;
  padding-left: 51px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 38px;
  width: 38px;
  padding: 0;
}
.btn-social-icon :first-child {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 36px;
  line-height: 38px;
  font-size: 1.6em;
  text-align: center;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.btn-social-icon.btn-lg {
  padding-left: 71px;
}
.btn-social-icon.btn-lg :first-child {
  line-height: 55px;
  width: 55px;
  font-size: 1.8em;
}
.btn-social-icon.btn-sm {
  padding-left: 37px;
}
.btn-social-icon.btn-sm :first-child {
  line-height: 27px;
  width: 27px;
  font-size: 1.4em;
}
.btn-social-icon.btn-xs {
  padding-left: 30px;
}
.btn-social-icon.btn-xs :first-child {
  line-height: 20px;
  width: 20px;
  font-size: 1.2em;
}
.btn-social-icon :first-child {
  border: none;
  text-align: center;
  width: 100%!important;
}
.btn-social-icon.btn-lg {
  height: 55px;
  width: 55px;
  padding-left: 0;
  padding-right: 0;
}
.btn-social-icon.btn-sm {
  height: 29px;
  width: 29px;
  padding-left: 0;
  padding-right: 0;
}
.btn-social-icon.btn-xs {
  height: 22px;
  width: 22px;
  padding-left: 0;
  padding-right: 0;
}
.btn-adn {
  color: #ffffff;
  background-color: #d87a68;
  border-color: #d87a68;
}
.btn-adn:hover,
.btn-adn:focus,
.btn-adn:active,
.btn-adn.active,
.open .dropdown-toggle.btn-adn {
  color: #ffffff;
  background-color: #d36854;
  border-color: #d36854;
}
.btn-adn.btn-outline {
  background-color: transparent;
  color: #d87a68;
}
.btn-adn.btn-outline:hover,
.btn-adn.btn-outline:focus,
.btn-adn.btn-outline:active,
.btn-adn.btn-outline.active {
  background-color: #d87a68;
  color: #ffffff;
}
a.btn-adn {
  color: #ffffff;
}
.btn-adn:active,
.btn-adn.active,
.open .dropdown-toggle.btn-adn {
  background-image: none;
}
.btn-adn.disabled,
.btn-adn[disabled],
fieldset[disabled] .btn-adn,
.btn-adn.disabled:hover,
.btn-adn[disabled]:hover,
fieldset[disabled] .btn-adn:hover,
.btn-adn.disabled:focus,
.btn-adn[disabled]:focus,
fieldset[disabled] .btn-adn:focus,
.btn-adn.disabled:active,
.btn-adn[disabled]:active,
fieldset[disabled] .btn-adn:active,
.btn-adn.disabled.active,
.btn-adn[disabled].active,
fieldset[disabled] .btn-adn.active {
  background-color: #d87a68;
  border-color: #d87a68;
}
.btn-bitbucket {
  color: #ffffff;
  background-color: #205081;
  border-color: #205081;
}
.btn-bitbucket:hover,
.btn-bitbucket:focus,
.btn-bitbucket:active,
.btn-bitbucket.active,
.open .dropdown-toggle.btn-bitbucket {
  color: #ffffff;
  background-color: #1b436d;
  border-color: #1b436d;
}
.btn-bitbucket.btn-outline {
  background-color: transparent;
  color: #205081;
}
.btn-bitbucket.btn-outline:hover,
.btn-bitbucket.btn-outline:focus,
.btn-bitbucket.btn-outline:active,
.btn-bitbucket.btn-outline.active {
  background-color: #205081;
  color: #ffffff;
}
a.btn-bitbucket {
  color: #ffffff;
}
.btn-bitbucket:active,
.btn-bitbucket.active,
.open .dropdown-toggle.btn-bitbucket {
  background-image: none;
}
.btn-bitbucket.disabled,
.btn-bitbucket[disabled],
fieldset[disabled] .btn-bitbucket,
.btn-bitbucket.disabled:hover,
.btn-bitbucket[disabled]:hover,
fieldset[disabled] .btn-bitbucket:hover,
.btn-bitbucket.disabled:focus,
.btn-bitbucket[disabled]:focus,
fieldset[disabled] .btn-bitbucket:focus,
.btn-bitbucket.disabled:active,
.btn-bitbucket[disabled]:active,
fieldset[disabled] .btn-bitbucket:active,
.btn-bitbucket.disabled.active,
.btn-bitbucket[disabled].active,
fieldset[disabled] .btn-bitbucket.active {
  background-color: #205081;
  border-color: #205081;
}
.btn-dropbox {
  color: #ffffff;
  background-color: #1087dd;
  border-color: #1087dd;
}
.btn-dropbox:hover,
.btn-dropbox:focus,
.btn-dropbox:active,
.btn-dropbox.active,
.open .dropdown-toggle.btn-dropbox {
  color: #ffffff;
  background-color: #0e78c5;
  border-color: #0e78c5;
}
.btn-dropbox.btn-outline {
  background-color: transparent;
  color: #1087dd;
}
.btn-dropbox.btn-outline:hover,
.btn-dropbox.btn-outline:focus,
.btn-dropbox.btn-outline:active,
.btn-dropbox.btn-outline.active {
  background-color: #1087dd;
  color: #ffffff;
}
a.btn-dropbox {
  color: #ffffff;
}
.btn-dropbox:active,
.btn-dropbox.active,
.open .dropdown-toggle.btn-dropbox {
  background-image: none;
}
.btn-dropbox.disabled,
.btn-dropbox[disabled],
fieldset[disabled] .btn-dropbox,
.btn-dropbox.disabled:hover,
.btn-dropbox[disabled]:hover,
fieldset[disabled] .btn-dropbox:hover,
.btn-dropbox.disabled:focus,
.btn-dropbox[disabled]:focus,
fieldset[disabled] .btn-dropbox:focus,
.btn-dropbox.disabled:active,
.btn-dropbox[disabled]:active,
fieldset[disabled] .btn-dropbox:active,
.btn-dropbox.disabled.active,
.btn-dropbox[disabled].active,
fieldset[disabled] .btn-dropbox.active {
  background-color: #1087dd;
  border-color: #1087dd;
}
.btn-facebook {
  color: #ffffff;
  background-color: #3b5998;
  border-color: #3b5998;
}
.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active,
.btn-facebook.active,
.open .dropdown-toggle.btn-facebook {
  color: #ffffff;
  background-color: #344e86;
  border-color: #344e86;
}
.btn-facebook.btn-outline {
  background-color: transparent;
  color: #3b5998;
}
.btn-facebook.btn-outline:hover,
.btn-facebook.btn-outline:focus,
.btn-facebook.btn-outline:active,
.btn-facebook.btn-outline.active {
  background-color: #3b5998;
  color: #ffffff;
}
a.btn-facebook {
  color: #ffffff;
}
.btn-facebook:active,
.btn-facebook.active,
.open .dropdown-toggle.btn-facebook {
  background-image: none;
}
.btn-facebook.disabled,
.btn-facebook[disabled],
fieldset[disabled] .btn-facebook,
.btn-facebook.disabled:hover,
.btn-facebook[disabled]:hover,
fieldset[disabled] .btn-facebook:hover,
.btn-facebook.disabled:focus,
.btn-facebook[disabled]:focus,
fieldset[disabled] .btn-facebook:focus,
.btn-facebook.disabled:active,
.btn-facebook[disabled]:active,
fieldset[disabled] .btn-facebook:active,
.btn-facebook.disabled.active,
.btn-facebook[disabled].active,
fieldset[disabled] .btn-facebook.active {
  background-color: #3b5998;
  border-color: #3b5998;
}
.btn-flickr {
  color: #ffffff;
  background-color: #ff0084;
  border-color: #ff0084;
}
.btn-flickr:hover,
.btn-flickr:focus,
.btn-flickr:active,
.btn-flickr.active,
.open .dropdown-toggle.btn-flickr {
  color: #ffffff;
  background-color: #e60077;
  border-color: #e60077;
}
.btn-flickr.btn-outline {
  background-color: transparent;
  color: #ff0084;
}
.btn-flickr.btn-outline:hover,
.btn-flickr.btn-outline:focus,
.btn-flickr.btn-outline:active,
.btn-flickr.btn-outline.active {
  background-color: #ff0084;
  color: #ffffff;
}
a.btn-flickr {
  color: #ffffff;
}
.btn-flickr:active,
.btn-flickr.active,
.open .dropdown-toggle.btn-flickr {
  background-image: none;
}
.btn-flickr.disabled,
.btn-flickr[disabled],
fieldset[disabled] .btn-flickr,
.btn-flickr.disabled:hover,
.btn-flickr[disabled]:hover,
fieldset[disabled] .btn-flickr:hover,
.btn-flickr.disabled:focus,
.btn-flickr[disabled]:focus,
fieldset[disabled] .btn-flickr:focus,
.btn-flickr.disabled:active,
.btn-flickr[disabled]:active,
fieldset[disabled] .btn-flickr:active,
.btn-flickr.disabled.active,
.btn-flickr[disabled].active,
fieldset[disabled] .btn-flickr.active {
  background-color: #ff0084;
  border-color: #ff0084;
}
.btn-foursquare {
  color: #ffffff;
  background-color: #0072b1;
  border-color: #0072b1;
}
.btn-foursquare:hover,
.btn-foursquare:focus,
.btn-foursquare:active,
.btn-foursquare.active,
.open .dropdown-toggle.btn-foursquare {
  color: #ffffff;
  background-color: #006298;
  border-color: #006298;
}
.btn-foursquare.btn-outline {
  background-color: transparent;
  color: #0072b1;
}
.btn-foursquare.btn-outline:hover,
.btn-foursquare.btn-outline:focus,
.btn-foursquare.btn-outline:active,
.btn-foursquare.btn-outline.active {
  background-color: #0072b1;
  color: #ffffff;
}
a.btn-foursquare {
  color: #ffffff;
}
.btn-foursquare:active,
.btn-foursquare.active,
.open .dropdown-toggle.btn-foursquare {
  background-image: none;
}
.btn-foursquare.disabled,
.btn-foursquare[disabled],
fieldset[disabled] .btn-foursquare,
.btn-foursquare.disabled:hover,
.btn-foursquare[disabled]:hover,
fieldset[disabled] .btn-foursquare:hover,
.btn-foursquare.disabled:focus,
.btn-foursquare[disabled]:focus,
fieldset[disabled] .btn-foursquare:focus,
.btn-foursquare.disabled:active,
.btn-foursquare[disabled]:active,
fieldset[disabled] .btn-foursquare:active,
.btn-foursquare.disabled.active,
.btn-foursquare[disabled].active,
fieldset[disabled] .btn-foursquare.active {
  background-color: #0072b1;
  border-color: #0072b1;
}
.btn-github {
  color: #ffffff;
  background-color: #444444;
  border-color: #444444;
}
.btn-github:hover,
.btn-github:focus,
.btn-github:active,
.btn-github.active,
.open .dropdown-toggle.btn-github {
  color: #ffffff;
  background-color: #373737;
  border-color: #373737;
}
.btn-github.btn-outline {
  background-color: transparent;
  color: #444444;
}
.btn-github.btn-outline:hover,
.btn-github.btn-outline:focus,
.btn-github.btn-outline:active,
.btn-github.btn-outline.active {
  background-color: #444444;
  color: #ffffff;
}
a.btn-github {
  color: #ffffff;
}
.btn-github:active,
.btn-github.active,
.open .dropdown-toggle.btn-github {
  background-image: none;
}
.btn-github.disabled,
.btn-github[disabled],
fieldset[disabled] .btn-github,
.btn-github.disabled:hover,
.btn-github[disabled]:hover,
fieldset[disabled] .btn-github:hover,
.btn-github.disabled:focus,
.btn-github[disabled]:focus,
fieldset[disabled] .btn-github:focus,
.btn-github.disabled:active,
.btn-github[disabled]:active,
fieldset[disabled] .btn-github:active,
.btn-github.disabled.active,
.btn-github[disabled].active,
fieldset[disabled] .btn-github.active {
  background-color: #444444;
  border-color: #444444;
}
.btn-google-plus {
  color: #ffffff;
  background-color: #dd4b39;
  border-color: #dd4b39;
}
.btn-google-plus:hover,
.btn-google-plus:focus,
.btn-google-plus:active,
.btn-google-plus.active,
.open .dropdown-toggle.btn-google-plus {
  color: #ffffff;
  background-color: #d73925;
  border-color: #d73925;
}
.btn-google-plus.btn-outline {
  background-color: transparent;
  color: #dd4b39;
}
.btn-google-plus.btn-outline:hover,
.btn-google-plus.btn-outline:focus,
.btn-google-plus.btn-outline:active,
.btn-google-plus.btn-outline.active {
  background-color: #dd4b39;
  color: #ffffff;
}
a.btn-google-plus {
  color: #ffffff;
}
.btn-google-plus:active,
.btn-google-plus.active,
.open .dropdown-toggle.btn-google-plus {
  background-image: none;
}
.btn-google-plus.disabled,
.btn-google-plus[disabled],
fieldset[disabled] .btn-google-plus,
.btn-google-plus.disabled:hover,
.btn-google-plus[disabled]:hover,
fieldset[disabled] .btn-google-plus:hover,
.btn-google-plus.disabled:focus,
.btn-google-plus[disabled]:focus,
fieldset[disabled] .btn-google-plus:focus,
.btn-google-plus.disabled:active,
.btn-google-plus[disabled]:active,
fieldset[disabled] .btn-google-plus:active,
.btn-google-plus.disabled.active,
.btn-google-plus[disabled].active,
fieldset[disabled] .btn-google-plus.active {
  background-color: #dd4b39;
  border-color: #dd4b39;
}
.btn-instagram {
  color: #ffffff;
  background-color: #3f729b;
  border-color: #3f729b;
}
.btn-instagram:hover,
.btn-instagram:focus,
.btn-instagram:active,
.btn-instagram.active,
.open .dropdown-toggle.btn-instagram {
  color: #ffffff;
  background-color: #386589;
  border-color: #386589;
}
.btn-instagram.btn-outline {
  background-color: transparent;
  color: #3f729b;
}
.btn-instagram.btn-outline:hover,
.btn-instagram.btn-outline:focus,
.btn-instagram.btn-outline:active,
.btn-instagram.btn-outline.active {
  background-color: #3f729b;
  color: #ffffff;
}
a.btn-instagram {
  color: #ffffff;
}
.btn-instagram:active,
.btn-instagram.active,
.open .dropdown-toggle.btn-instagram {
  background-image: none;
}
.btn-instagram.disabled,
.btn-instagram[disabled],
fieldset[disabled] .btn-instagram,
.btn-instagram.disabled:hover,
.btn-instagram[disabled]:hover,
fieldset[disabled] .btn-instagram:hover,
.btn-instagram.disabled:focus,
.btn-instagram[disabled]:focus,
fieldset[disabled] .btn-instagram:focus,
.btn-instagram.disabled:active,
.btn-instagram[disabled]:active,
fieldset[disabled] .btn-instagram:active,
.btn-instagram.disabled.active,
.btn-instagram[disabled].active,
fieldset[disabled] .btn-instagram.active {
  background-color: #3f729b;
  border-color: #3f729b;
}
.btn-linkedin {
  color: #ffffff;
  background-color: #007bb6;
  border-color: #007bb6;
}
.btn-linkedin:hover,
.btn-linkedin:focus,
.btn-linkedin:active,
.btn-linkedin.active,
.open .dropdown-toggle.btn-linkedin {
  color: #ffffff;
  background-color: #006a9d;
  border-color: #006a9d;
}
.btn-linkedin.btn-outline {
  background-color: transparent;
  color: #007bb6;
}
.btn-linkedin.btn-outline:hover,
.btn-linkedin.btn-outline:focus,
.btn-linkedin.btn-outline:active,
.btn-linkedin.btn-outline.active {
  background-color: #007bb6;
  color: #ffffff;
}
a.btn-linkedin {
  color: #ffffff;
}
.btn-linkedin:active,
.btn-linkedin.active,
.open .dropdown-toggle.btn-linkedin {
  background-image: none;
}
.btn-linkedin.disabled,
.btn-linkedin[disabled],
fieldset[disabled] .btn-linkedin,
.btn-linkedin.disabled:hover,
.btn-linkedin[disabled]:hover,
fieldset[disabled] .btn-linkedin:hover,
.btn-linkedin.disabled:focus,
.btn-linkedin[disabled]:focus,
fieldset[disabled] .btn-linkedin:focus,
.btn-linkedin.disabled:active,
.btn-linkedin[disabled]:active,
fieldset[disabled] .btn-linkedin:active,
.btn-linkedin.disabled.active,
.btn-linkedin[disabled].active,
fieldset[disabled] .btn-linkedin.active {
  background-color: #007bb6;
  border-color: #007bb6;
}
.btn-microsoft {
  color: #ffffff;
  background-color: #2672ec;
  border-color: #2672ec;
}
.btn-microsoft:hover,
.btn-microsoft:focus,
.btn-microsoft:active,
.btn-microsoft.active,
.open .dropdown-toggle.btn-microsoft {
  color: #ffffff;
  background-color: #1464e4;
  border-color: #1464e4;
}
.btn-microsoft.btn-outline {
  background-color: transparent;
  color: #2672ec;
}
.btn-microsoft.btn-outline:hover,
.btn-microsoft.btn-outline:focus,
.btn-microsoft.btn-outline:active,
.btn-microsoft.btn-outline.active {
  background-color: #2672ec;
  color: #ffffff;
}
a.btn-microsoft {
  color: #ffffff;
}
.btn-microsoft:active,
.btn-microsoft.active,
.open .dropdown-toggle.btn-microsoft {
  background-image: none;
}
.btn-microsoft.disabled,
.btn-microsoft[disabled],
fieldset[disabled] .btn-microsoft,
.btn-microsoft.disabled:hover,
.btn-microsoft[disabled]:hover,
fieldset[disabled] .btn-microsoft:hover,
.btn-microsoft.disabled:focus,
.btn-microsoft[disabled]:focus,
fieldset[disabled] .btn-microsoft:focus,
.btn-microsoft.disabled:active,
.btn-microsoft[disabled]:active,
fieldset[disabled] .btn-microsoft:active,
.btn-microsoft.disabled.active,
.btn-microsoft[disabled].active,
fieldset[disabled] .btn-microsoft.active {
  background-color: #2672ec;
  border-color: #2672ec;
}
.btn-openid {
  color: #ffffff;
  background-color: #f7931e;
  border-color: #f7931e;
}
.btn-openid:hover,
.btn-openid:focus,
.btn-openid:active,
.btn-openid.active,
.open .dropdown-toggle.btn-openid {
  color: #ffffff;
  background-color: #f38709;
  border-color: #f38709;
}
.btn-openid.btn-outline {
  background-color: transparent;
  color: #f7931e;
}
.btn-openid.btn-outline:hover,
.btn-openid.btn-outline:focus,
.btn-openid.btn-outline:active,
.btn-openid.btn-outline.active {
  background-color: #f7931e;
  color: #ffffff;
}
a.btn-openid {
  color: #ffffff;
}
.btn-openid:active,
.btn-openid.active,
.open .dropdown-toggle.btn-openid {
  background-image: none;
}
.btn-openid.disabled,
.btn-openid[disabled],
fieldset[disabled] .btn-openid,
.btn-openid.disabled:hover,
.btn-openid[disabled]:hover,
fieldset[disabled] .btn-openid:hover,
.btn-openid.disabled:focus,
.btn-openid[disabled]:focus,
fieldset[disabled] .btn-openid:focus,
.btn-openid.disabled:active,
.btn-openid[disabled]:active,
fieldset[disabled] .btn-openid:active,
.btn-openid.disabled.active,
.btn-openid[disabled].active,
fieldset[disabled] .btn-openid.active {
  background-color: #f7931e;
  border-color: #f7931e;
}
.btn-reddit {
  color: #000000;
  background-color: #eff7ff;
  border-color: #eff7ff;
}
.btn-reddit:hover,
.btn-reddit:focus,
.btn-reddit:active,
.btn-reddit.active,
.open .dropdown-toggle.btn-reddit {
  color: #000000;
  background-color: #d6eaff;
  border-color: #d6eaff;
}
.btn-reddit.btn-outline {
  background-color: transparent;
  color: #eff7ff;
}
.btn-reddit.btn-outline:hover,
.btn-reddit.btn-outline:focus,
.btn-reddit.btn-outline:active,
.btn-reddit.btn-outline.active {
  background-color: #eff7ff;
  color: #000000;
}
a.btn-reddit {
  color: #000000;
}
.btn-reddit:active,
.btn-reddit.active,
.open .dropdown-toggle.btn-reddit {
  background-image: none;
}
.btn-reddit.disabled,
.btn-reddit[disabled],
fieldset[disabled] .btn-reddit,
.btn-reddit.disabled:hover,
.btn-reddit[disabled]:hover,
fieldset[disabled] .btn-reddit:hover,
.btn-reddit.disabled:focus,
.btn-reddit[disabled]:focus,
fieldset[disabled] .btn-reddit:focus,
.btn-reddit.disabled:active,
.btn-reddit[disabled]:active,
fieldset[disabled] .btn-reddit:active,
.btn-reddit.disabled.active,
.btn-reddit[disabled].active,
fieldset[disabled] .btn-reddit.active {
  background-color: #eff7ff;
  border-color: #eff7ff;
}
.btn-soundcloud {
  color: #ffffff;
  background-color: #ff5500;
  border-color: #ff5500;
}
.btn-soundcloud:hover,
.btn-soundcloud:focus,
.btn-soundcloud:active,
.btn-soundcloud.active,
.open .dropdown-toggle.btn-soundcloud {
  color: #ffffff;
  background-color: #e64d00;
  border-color: #e64d00;
}
.btn-soundcloud.btn-outline {
  background-color: transparent;
  color: #ff5500;
}
.btn-soundcloud.btn-outline:hover,
.btn-soundcloud.btn-outline:focus,
.btn-soundcloud.btn-outline:active,
.btn-soundcloud.btn-outline.active {
  background-color: #ff5500;
  color: #ffffff;
}
a.btn-soundcloud {
  color: #ffffff;
}
.btn-soundcloud:active,
.btn-soundcloud.active,
.open .dropdown-toggle.btn-soundcloud {
  background-image: none;
}
.btn-soundcloud.disabled,
.btn-soundcloud[disabled],
fieldset[disabled] .btn-soundcloud,
.btn-soundcloud.disabled:hover,
.btn-soundcloud[disabled]:hover,
fieldset[disabled] .btn-soundcloud:hover,
.btn-soundcloud.disabled:focus,
.btn-soundcloud[disabled]:focus,
fieldset[disabled] .btn-soundcloud:focus,
.btn-soundcloud.disabled:active,
.btn-soundcloud[disabled]:active,
fieldset[disabled] .btn-soundcloud:active,
.btn-soundcloud.disabled.active,
.btn-soundcloud[disabled].active,
fieldset[disabled] .btn-soundcloud.active {
  background-color: #ff5500;
  border-color: #ff5500;
}
.btn-tumblr {
  color: #ffffff;
  background-color: #2c4762;
  border-color: #2c4762;
}
.btn-tumblr:hover,
.btn-tumblr:focus,
.btn-tumblr:active,
.btn-tumblr.active,
.open .dropdown-toggle.btn-tumblr {
  color: #ffffff;
  background-color: #243a50;
  border-color: #243a50;
}
.btn-tumblr.btn-outline {
  background-color: transparent;
  color: #2c4762;
}
.btn-tumblr.btn-outline:hover,
.btn-tumblr.btn-outline:focus,
.btn-tumblr.btn-outline:active,
.btn-tumblr.btn-outline.active {
  background-color: #2c4762;
  color: #ffffff;
}
a.btn-tumblr {
  color: #ffffff;
}
.btn-tumblr:active,
.btn-tumblr.active,
.open .dropdown-toggle.btn-tumblr {
  background-image: none;
}
.btn-tumblr.disabled,
.btn-tumblr[disabled],
fieldset[disabled] .btn-tumblr,
.btn-tumblr.disabled:hover,
.btn-tumblr[disabled]:hover,
fieldset[disabled] .btn-tumblr:hover,
.btn-tumblr.disabled:focus,
.btn-tumblr[disabled]:focus,
fieldset[disabled] .btn-tumblr:focus,
.btn-tumblr.disabled:active,
.btn-tumblr[disabled]:active,
fieldset[disabled] .btn-tumblr:active,
.btn-tumblr.disabled.active,
.btn-tumblr[disabled].active,
fieldset[disabled] .btn-tumblr.active {
  background-color: #2c4762;
  border-color: #2c4762;
}
.btn-twitter {
  color: #ffffff;
  background-color: #55acee;
  border-color: #55acee;
}
.btn-twitter:hover,
.btn-twitter:focus,
.btn-twitter:active,
.btn-twitter.active,
.open .dropdown-toggle.btn-twitter {
  color: #ffffff;
  background-color: #3ea1ec;
  border-color: #3ea1ec;
}
.btn-twitter.btn-outline {
  background-color: transparent;
  color: #55acee;
}
.btn-twitter.btn-outline:hover,
.btn-twitter.btn-outline:focus,
.btn-twitter.btn-outline:active,
.btn-twitter.btn-outline.active {
  background-color: #55acee;
  color: #ffffff;
}
a.btn-twitter {
  color: #ffffff;
}
.btn-twitter:active,
.btn-twitter.active,
.open .dropdown-toggle.btn-twitter {
  background-image: none;
}
.btn-twitter.disabled,
.btn-twitter[disabled],
fieldset[disabled] .btn-twitter,
.btn-twitter.disabled:hover,
.btn-twitter[disabled]:hover,
fieldset[disabled] .btn-twitter:hover,
.btn-twitter.disabled:focus,
.btn-twitter[disabled]:focus,
fieldset[disabled] .btn-twitter:focus,
.btn-twitter.disabled:active,
.btn-twitter[disabled]:active,
fieldset[disabled] .btn-twitter:active,
.btn-twitter.disabled.active,
.btn-twitter[disabled].active,
fieldset[disabled] .btn-twitter.active {
  background-color: #55acee;
  border-color: #55acee;
}
.btn-vimeo {
  color: #ffffff;
  background-color: #1ab7ea;
  border-color: #1ab7ea;
}
.btn-vimeo:hover,
.btn-vimeo:focus,
.btn-vimeo:active,
.btn-vimeo.active,
.open .dropdown-toggle.btn-vimeo {
  color: #ffffff;
  background-color: #14a7d7;
  border-color: #14a7d7;
}
.btn-vimeo.btn-outline {
  background-color: transparent;
  color: #1ab7ea;
}
.btn-vimeo.btn-outline:hover,
.btn-vimeo.btn-outline:focus,
.btn-vimeo.btn-outline:active,
.btn-vimeo.btn-outline.active {
  background-color: #1ab7ea;
  color: #ffffff;
}
a.btn-vimeo {
  color: #ffffff;
}
.btn-vimeo:active,
.btn-vimeo.active,
.open .dropdown-toggle.btn-vimeo {
  background-image: none;
}
.btn-vimeo.disabled,
.btn-vimeo[disabled],
fieldset[disabled] .btn-vimeo,
.btn-vimeo.disabled:hover,
.btn-vimeo[disabled]:hover,
fieldset[disabled] .btn-vimeo:hover,
.btn-vimeo.disabled:focus,
.btn-vimeo[disabled]:focus,
fieldset[disabled] .btn-vimeo:focus,
.btn-vimeo.disabled:active,
.btn-vimeo[disabled]:active,
fieldset[disabled] .btn-vimeo:active,
.btn-vimeo.disabled.active,
.btn-vimeo[disabled].active,
fieldset[disabled] .btn-vimeo.active {
  background-color: #1ab7ea;
  border-color: #1ab7ea;
}
.btn-vk {
  color: #ffffff;
  background-color: #587ea3;
  border-color: #587ea3;
}
.btn-vk:hover,
.btn-vk:focus,
.btn-vk:active,
.btn-vk.active,
.open .dropdown-toggle.btn-vk {
  color: #ffffff;
  background-color: #4f7192;
  border-color: #4f7192;
}
.btn-vk.btn-outline {
  background-color: transparent;
  color: #587ea3;
}
.btn-vk.btn-outline:hover,
.btn-vk.btn-outline:focus,
.btn-vk.btn-outline:active,
.btn-vk.btn-outline.active {
  background-color: #587ea3;
  color: #ffffff;
}
a.btn-vk {
  color: #ffffff;
}
.btn-vk:active,
.btn-vk.active,
.open .dropdown-toggle.btn-vk {
  background-image: none;
}
.btn-vk.disabled,
.btn-vk[disabled],
fieldset[disabled] .btn-vk,
.btn-vk.disabled:hover,
.btn-vk[disabled]:hover,
fieldset[disabled] .btn-vk:hover,
.btn-vk.disabled:focus,
.btn-vk[disabled]:focus,
fieldset[disabled] .btn-vk:focus,
.btn-vk.disabled:active,
.btn-vk[disabled]:active,
fieldset[disabled] .btn-vk:active,
.btn-vk.disabled.active,
.btn-vk[disabled].active,
fieldset[disabled] .btn-vk.active {
  background-color: #587ea3;
  border-color: #587ea3;
}
.btn-yahoo {
  color: #ffffff;
  background-color: #720e9e;
  border-color: #720e9e;
}
.btn-yahoo:hover,
.btn-yahoo:focus,
.btn-yahoo:active,
.btn-yahoo.active,
.open .dropdown-toggle.btn-yahoo {
  color: #ffffff;
  background-color: #610c87;
  border-color: #610c87;
}
.btn-yahoo.btn-outline {
  background-color: transparent;
  color: #720e9e;
}
.btn-yahoo.btn-outline:hover,
.btn-yahoo.btn-outline:focus,
.btn-yahoo.btn-outline:active,
.btn-yahoo.btn-outline.active {
  background-color: #720e9e;
  color: #ffffff;
}
a.btn-yahoo {
  color: #ffffff;
}
.btn-yahoo:active,
.btn-yahoo.active,
.open .dropdown-toggle.btn-yahoo {
  background-image: none;
}
.btn-yahoo.disabled,
.btn-yahoo[disabled],
fieldset[disabled] .btn-yahoo,
.btn-yahoo.disabled:hover,
.btn-yahoo[disabled]:hover,
fieldset[disabled] .btn-yahoo:hover,
.btn-yahoo.disabled:focus,
.btn-yahoo[disabled]:focus,
fieldset[disabled] .btn-yahoo:focus,
.btn-yahoo.disabled:active,
.btn-yahoo[disabled]:active,
fieldset[disabled] .btn-yahoo:active,
.btn-yahoo.disabled.active,
.btn-yahoo[disabled].active,
fieldset[disabled] .btn-yahoo.active {
  background-color: #720e9e;
  border-color: #720e9e;
}
/*
 *  Gallery $Portfolio
 *
 */
/* Navigation */
.portfolio nav {
  text-align: center;
}
.portfolio nav ul {
  padding: 0;
  margin: 0;
  display: inline-block;
  position: relative;
}
.portfolio nav ul li {
  display: inline-block;
}
.portfolio nav ul li a {
  color: #59595a;
  display: inline-block;
  position: relative;
  margin: 5px;
  text-transform: uppercase;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  letter-spacing: 1px;
  padding: 10px;
  font-size: 11px;
  line-height: 1;
}
/* Isotope gallery */
.isotope {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}
.isotope .portfolio-item {
  display: block;
  float: left;
}
.isotope .portfolio-item a,
.isotope .portfolio-item a img {
  display: block;
  position: relative;
  width: 100%;
}
.isotope .portfolio-item:hover .overlay-hover,
.isotope .portfolio-item:hover .metadata {
  opacity: 1;
  filter: alpha(opacity=100);
}
.isotope .portfolio-item:hover img {
  opacity: 0.1;
  filter: alpha(opacity=10);
}
.isotope .portfolio-item:hover .metadata,
.isotope .portfolio-item:hover .metadata .title {
  color: #fff!important;
}
.isotope .portfolio-item a img {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
  z-index: 999;
}
.isotope .portfolio-item a {
  overflow: hidden;
}
.isotope .portfolio-item .overlay-hover,
.isotope .portfolio-item .metadata {
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  transition: opacity 300ms;
}
.isotope .portfolio-thumbnail {
  position: relative;
}
.isotope .portfolio-item .metadata {
  color: #59595a;
  padding: 15px;
  text-align: center;
  display: block;
  z-index: 1000;
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0;
  filter: alpha(opacity=0);
}
.isotope .portfolio-item .metadata .title {
  font-style: normal;
  display: block;
}
.isotope .portfolio-item:hover img {
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);
}
/* Portfolio ajax */
.ajax-content {
  position: relative;
  background-color: #fff;
  border: 1px solid #6F6F6F;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  background-clip: padding-box;
  outline: 0;
  max-width: 540px;
  margin: 30px auto;
  overflow: hidden;
  text-align: left;
}
.feature-content {
  padding: 15px;
}
.ajax-content .flexslider .slides img {
  border-radius: 2px 2px 0 0;
}
.feature-title {
  margin-bottom: 20px;
  text-align: center;
}
.feature-title h5 {
  margin-bottom: 0;
}
.feature-title h6 {
  color: #b3b3b3;
}
.portfolio-ajax {
  position: relative;
  display: none;
  background-color: #fff;
}
.portfolio-content {
  min-height: 40px;
  max-height: 5000px;
  padding: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  display: block;
  clear: both;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.feature-media {
  margin-bottom: 25px;
  display: block;
  clear: both;
}
.portfolio-loading {
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 99999;
  opacity: 0;
  filter: alpha(opacity=0);
  display: none;
}
.portfolio-ajax .loader {
  position: absolute;
  margin: -15px 0 0 -15px;
  top: 50%;
  left: 50%;
  text-align: center;
  width: 30px;
  z-index: 99999;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
.porfolio-controls {
  text-align: center;
  margin: 15px;
}
.porfolio-controls a {
  outline: none;
  display: inline-block;
  z-index: 2000;
  background-color: rgba(255, 255, 255, 0.4);
  margin: 0 5px;
  opacity: 0;
  filter: alpha(opacity=0);
  zoom: 1;
  color: #d8dcee;
  border: 1px solid #d8dcee;
  line-height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  width: 30px;
  height: 30px;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
}
.porfolio-controls a.disabled {
  cursor: not-allowed;
  color: #b4bcdf;
  background-color: rgba(255, 255, 255, 0.8);
}
.porfolio-controls a:hover {
  color: #b4bcdf;
  background-color: rgba(255, 255, 255, 0.8);
}
.portfolio-ajax.loading .loader {
  opacity: 1;
  filter: alpha(opacity=100);
}
.portfolio-ajax.loaded .portfolio-content,
.portfolio-ajax.loaded .close-view,
.portfolio-ajax.loaded .porfolio-controls a {
  opacity: 1;
  filter: alpha(opacity=100);
}
/*
 *
 * $Blog pages
 *
 */
.spacer {
  margin: 0 5px;
}
.post {
  margin-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #d8dcee;
  position: relative;
}
.post:first-child {
  margin-top: 0!important;
}
.post:last-child {
  border-bottom: 0!important;
}
.post .post-title h1 a {
  color: #1a1a1a;
}
.post .post-title a {
  color: #59595a;
}
.post .post-meta {
  text-transform: uppercase;
  font-size: 10px;
}
.post .post-date {
  text-transform: uppercase;
  font-size: 85%;
}
.post .post-content {
  margin-bottom: 30px;
}
.post .tags {
  margin-top: 15px;
}
.post .post-media {
  width: 100%;
  position: relative;
  margin: 15px 0;
}
.post .post-comments {
  margin: 80px 0;
}
.post .post-comments .avatar {
  max-width: 48px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.post .post-comments .comment {
  overflow: hidden;
}
.post .post-comments .comment-meta {
  margin-bottom: 5px;
}
.post .post-comments .comment-author a,
.post .post-comments .comment-meta a {
  color: #1a1a1a;
}
@media screen and (min-width: 768px) {
  .post,
  .blog-posts .pager {
    margin-left: 100px;
  }
  .post-date {
    padding: 0 10px 10px;
    width: 100px;
    position: absolute;
    top: 5px;
    left: -100px;
    text-align: center;
    line-height: 1;
    font-size: 10px;
    letter-spacing: 1px;
  }
  .post-date .date {
    display: block;
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .post-date {
    margin-left: 5px;
    display: inline-block;
  }
}
.tags ul {
  padding: 0;
  list-style: none;
}
.tags ul li {
  display: inline-block;
  margin: 0 5px 5px 0;
}
.tags ul li a {
  padding: 0 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: block;
}
/* Sidebar */
.sidebar a {
  color: #59595a;
}
.sidebar h5 {
  text-transform: uppercase;
}
.sidebar ul {
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
}
.widget {
  margin-bottom: 45px;
  clear: both;
  width: 100%;
  display: block;
}
.widget.search .search-form {
  position: relative;
}
.widget.search .search-form .search-button {
  width: 34px;
  height: 100%;
  position: absolute;
  right: 0;
  overflow: hidden;
  background: transparent;
  border: none;
  outline: none;
}
.widget.search .search-form .form-control {
  width: 100%;
}
/*
 *  $Team Page
 *
 */
ul.team {
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 0;
}
ul.team li {
  border: 0;
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 25px;
}
ul.team li a {
  display: block;
  color: #59595a;
}
ul.team li .avatar {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  background-color: #2e353d;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
ul.team li .avatar img {
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  transition: opacity 300ms;
  opacity: 1;
  filter: alpha(opacity=100);
}
ul.team li:hover .avatar img {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
ul.team .member-meta {
  padding: 15px;
  font-size: 13px;
}
ul.team .name {
  display: block;
  text-transform: uppercase;
  margin: 0;
}
/*
 *  Toggle $Accordion
 *
 */
.accordion dt,
.toggle dt {
  display: block;
  position: relative;
  text-decoration: none;
  border: 1px solid #d8dcee;
  background: #ffffff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 10px;
  font-weight: 400;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.accordion dt a,
.toggle dt a {
  color: #59595a;
  padding: 15px;
  display: block;
}
.accordion dt a:after,
.toggle dt a:after {
  font-family: 'themify';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 24px;
  -moz-osx-font-smoothing: grayscale;
  content: "\e61a";
  position: absolute;
  right: 10px;
  width: 24px;
  height: 24px;
  text-align: center;
  font-size: 12px;
  border: 1px solid #d8dcee;
  color: #d8dcee;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  top: 50%;
  margin-top: -12px;
}
.accordion dt a.active:after,
.toggle dt a.active:after {
  content: "\e622";
}
.accordion dd,
.toggle dd {
  padding: 15px;
}
.accordion dd a,
.toggle dd a {
  display: block;
}
.accordion dd,
.toggle dd {
  border-top: 0;
}
.accordion dd:last-of-type,
.toggle dd:last-of-type {
  position: relative;
}
/*
 * Image $Captions
 *
 */
figure {
  display: block;
  position: relative;
  overflow: hidden;
}
figure img {
  width: 100%;
}
figcaption {
  position: absolute;
  background: #2e353d;
  background: rgba(46, 53, 61, 0.75);
  color: white;
  padding: 10px 15px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
figure:hover figcaption {
  opacity: 1;
  filter: alpha(opacity=100);
}
figure:before {
  content: "?";
  position: absolute;
  background: #ffffff;
  background: rgba(255, 255, 255, 0.75);
  color: #59595a;
  width: 24px;
  height: 24px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  text-align: center;
  line-height: 24px;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
figure:hover:before {
  opacity: 0;
  filter: alpha(opacity=0);
}
.cap-left:before {
  bottom: 10px;
  left: 10px;
}
.cap-left figcaption {
  bottom: 0;
  left: -30%;
}
.cap-left:hover figcaption {
  left: 0;
}
.cap-right:before {
  bottom: 10px;
  right: 10px;
}
.cap-right figcaption {
  bottom: 0;
  right: -30%;
}
.cap-right:hover figcaption {
  right: 0;
}
.cap-top:before {
  top: 10px;
  left: 10px;
}
.cap-top figcaption {
  left: 0;
  top: -30%;
}
.cap-top:hover figcaption {
  top: 0;
}
.cap-bot:before {
  bottom: 10px;
  left: 10px;
}
.cap-bot figcaption {
  left: 0;
  bottom: -30%;
}
.cap-bot:hover figcaption {
  bottom: 0;
}
.gm-style-cc {
  display: none!important;
}
#map_canvas {
  width: 100%;
  height: 400px;
}
.gmap img {
  max-width: none;
}
.mfp-wrap {
  z-index: 9999;
}
.bx-wrapper .bx-controls-direction a {
  z-index: 4000;
}
/*
 * $Utilities Classes
 *
 */
/* p,m,b = padding,margin,border
 * Directions
 * t,b,r,l,n = top,bottom,right,left, negative
 * Sizing
 * xs,sm,md,df,lg = extra small(@xs),small(@sm),medium(@md),default(@df),large(@lg)
 */
/* Set background color to transparent */
.bg-none {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.shadow {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.no-shadow {
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* Margins */
.no-m {
  margin: 0;
}
.mn {
  margin-right: -15px;
  margin-left: -15px;
}
.mrn {
  margin-right: -15px;
}
.mln {
  margin-left: -15px;
}
.ml0 {
  margin-left: 0;
}
.mr0 {
  margin-right: 0;
}
.mt0 {
  margin-top: 0;
}
.mb0 {
  margin-bottom: 0;
}
.ml25 {
  margin: 25px;
}
.mr25 {
  margin-right: 25px;
}
.ml25 {
  margin-left: 25px;
}
.mt25 {
  margin-top: 25px;
}
.mb25 {
  margin-bottom: 25px;
}
.m20 {
  margin: 20px;
}
.mr20 {
  margin-right: 20px;
}
.ml20 {
  margin-left: 20px;
}
.mt20 {
  margin-top: 20px;
}
.mb20 {
  margin-bottom: 20px;
}
.m15 {
  margin: 15px;
}
.mr15 {
  margin-right: 15px;
}
.ml15 {
  margin-left: 15px;
}
.mt15 {
  margin-top: 15px;
}
.mb15 {
  margin-bottom: 15px;
}
.m10 {
  margin: 10px;
}
.mr10 {
  margin-right: 10px;
}
.ml10 {
  margin-left: 10px;
}
.mt10 {
  margin-top: 10px;
}
.mb10 {
  margin-bottom: 10px;
}
.m5 {
  margin: 5px;
}
.mr5 {
  margin-right: 5px;
}
.ml5 {
  margin-left: 5px;
}
.mt5 {
  margin-top: 5px;
}
.mb5 {
  margin-bottom: 5px;
}
/* Padding space */
.no-p {
  padding: 0!important;
}
.pl0 {
  padding-left: 0;
}
.pr0 {
  padding-right: 0;
}
.pt0 {
  padding-top: 0;
}
.pb0 {
  padding-bottom: 0;
}
.p25 {
  padding: 25px;
}
.pr25 {
  padding-right: 25px;
}
.pl25 {
  padding-left: 25px;
}
.pt25 {
  padding-top: 25px;
}
.pb25 {
  padding-bottom: 25px;
}
.p20 {
  padding: 20px;
}
.pr20 {
  padding-right: 20px;
}
.pl20 {
  padding-left: 20px;
}
.pt20 {
  padding-top: 20px;
}
.pb20 {
  padding-bottom: 20px;
}
.p15 {
  padding: 15px;
}
.pr15 {
  padding-right: 15px;
}
.pl15 {
  padding-left: 15px;
}
.pt15 {
  padding-top: 15px;
}
.pb15 {
  padding-bottom: 15px;
}
.p10 {
  padding: 10px;
}
.pr10 {
  padding-right: 10px;
}
.pl10 {
  padding-left: 10px;
}
.pt10 {
  padding-top: 10px;
}
.pb10 {
  padding-bottom: 10px;
}
.p5 {
  padding: 5px;
}
.pr5 {
  padding-right: 5px;
}
.pl5 {
  padding-left: 5px;
}
.pt5 {
  padding-top: 5px;
}
.pb5 {
  padding-bottom: 5px;
}
/* Borders */
.no-b {
  border: 0;
}
.bordered {
  border: 1px solid #d8dcee;
}
.bb {
  border-bottom: 1px solid #d8dcee;
}
.bt {
  border-top: 1px solid #d8dcee;
}
.bl {
  border-left: 1px solid #d8dcee;
}
.br {
  border-right: 1px solid #d8dcee;
}
/* Radius */
.no-radius {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
@media (max-width: 767px) {
  .text-center-sm {
    text-align: center;
  }
}
/*
 * $Color Scheme
 *
 */
/*
 * Color Variant: Dark;
 *
 */
.dark {
  background-color: #2e353d;
}
.dark,
.dark a {
  color: #b6b8bb;
}
.dark .darken,
.dark.darken {
  background-color: #2b323a;
}
.dark .lighten,
.dark.lighten {
  background-color: #313840;
}
/*
 * Color Variant: Light;
 *
 */
.light {
  background-color: #eaecf6;
}
.light,
.light a {
  color: #575757;
}
.light .darken,
.light.darken {
  background-color: #e6e8f4;
}
.light .lighten,
.light.lighten {
  background-color: #eef0f8;
}
/*
 * Color Variant: Primary;
 *
 */
.bg-primary {
  background-color: #1582dc;
}
/*
 * Color Variant: Default;
 *
 */
.bg-default {
  background-color: #eaecf6;
}
/*
 * Color Variant: Warning;
 *
 */
.bg-warning {
  background-color: #daac16;
}
/*
 * Color Variant: Success;
 *
 */
.bg-success {
  background-color: #15db81;
}
/*
 * Color Variant: Info;
 *
 */
.bg-info {
  background-color: #15acdc;
}
/*
 * Color Variant: Danger;
 *
 */
.bg-danger {
  background-color: #da3e16;
}
/*
 * Color Variant: White;
 *
 */
.bg-white {
  background-color: #ffffff;
}
/*
 * Text Color Variant
 *
 */
.text-primary,
.text-primary a {
  color: #1582dc;
}
.text-primary:focus,
.text-primary a:focus {
  color: #0e5996;
}
.text-default,
.text-default a {
  color: #eaecf6;
}
.text-default:focus,
.text-default a:focus {
  color: #b4bcdf;
}
.text-warning,
.text-warning a {
  color: #daac16;
}
.text-warning:focus,
.text-warning a:focus {
  color: #95750f;
}
.text-success,
.text-success a {
  color: #15db81;
}
.text-success:focus,
.text-success a:focus {
  color: #0e9558;
}
.text-info,
.text-info a {
  color: #15acdc;
}
.text-info:focus,
.text-info a:focus {
  color: #0e7596;
}
.text-white,
.text-white a {
  color: #ffffff;
}
.text-white:focus,
.text-white a:focus {
  color: #d9d9d9;
}
.text-danger,
.text-danger a {
  color: #da3e16;
}
.text-danger:focus,
.text-danger a:focus {
  color: #952a0f;
}
.text-dark,
.text-dark a {
  color: #2e353d;
}
.text-dark:focus,
.text-dark a:focus {
  color: #0d0f11;
}
.text-muted,
.text-muted a {
  color: #b3b3b3;
}
.text-muted:focus,
.text-muted a:focus {
  color: #8c8c8c;
}
