<aside>
	<div id="sidebar"  class="nav-collapse ">
		<!-- sidebar menu start-->
		<ul class="sidebar-menu" id="nav-accordion">
	  		<li>
	      		<a href="/Admin/index">
	          		<i class="fa fa-dashboard"></i>
	          		<span>Dashboard</span>
	      		</a>
	  		</li>

	  		<li class="sub-menu">
	      		<a href="javascript:;" >
	          		<i class="fa fa-users"></i>
	          		<span>Users</span>
	      		</a>
	      		<ul class="sub">
	          		<li><%== linkTo("Staff", urla("all_staff")) %></li>
	          		<li><%== linkTo("Clients", urla("all_clients")) %></li>
	      		</ul>
	  		</li>

	  		<li class="sub-menu">
	      		<a href="javascript:;" >
	          		<i class="fa fa-film"></i>
	          		<span>Products</span>
	      		</a>
	      		<ul class="sub">
	          		<li><%== linkTo("Categories", urla("categoryListings")) %></li>
	          		<li><%== linkTo("Movies", urla("all_items")) %></li>
	      		</ul>
	  		</li>

	  		<li class="sub-menu">
	      		<a href="javascript:;" >
	          		<i class="fa fa-bar-chart-o"></i>
	          		<span>Reports</span>
	      		</a>
	      		<ul class="sub">
	          		<li><%== linkTo("All Reports", urla("reports")) %></li>
	      		</ul>
	  		</li>
		</ul>
		<!-- sidebar menu end-->
	</div>
</aside>
