<%#include "rentalagent.h" %>
<%#include "QDate" %>
<% tfetch(RentalAgent, agent); %>
<aside>
	<div id="sidebar"  class="nav-collapse ">
		<!-- sidebar menu start-->
		<ul class="sidebar-menu" id="nav-accordion">
	  		<li>
	      		<a href="/Staff/staff_dash">
	          		<i class="fa fa-dashboard"></i>
	          		<span>Dashboard</span>
	      		</a>
	  		</li>

	  		<li class="sub-menu">
	      		<a href="javascript:;" >
	          		<i class="fa fa-users"></i>
	          		<span>Users</span>
	      		</a>
	      		<ul class="sub">
	          		<li><a href="/Staff/client_listings/<%= agent.location() %>">Clients</a></li>
	      		</ul>
	  		</li>

	  		<li class="sub-menu">
	      		<a href="javascript:;" >
	          		<i class="fa fa-credit-card"></i>
	          		<span>Transactions</span>
	      		</a>
	      		<ul class="sub">
	          		<li><a  href="/Staff/orderListings/<%= agent.location() %>">Orders</a></li>
	          		<li><%== linkTo("Due sheets", urla("viewDueSheet")) %></li>
	      		</ul>
	  		</li>

	  		<li class="sub-menu">
	      		<a href="javascript:;" >
	          		<i class="fa fa-gift"></i>
	          		<span>Miscellaneous</span>
	      		</a>
	      		<ul class="sub">
	          		<li><a  href="#">Compose mail</a></li>
	      		</ul>
	  		</li>
		</ul>
		<!-- sidebar menu end-->
	</div>
</aside>
