<%#include "item.h" %>
<% tfetch(Item, movie); %>
<section class="panel">
    <div class="panel-body">
        <div class="col-md-6">
            <div class="pro-img-details">
                <img src="http://placehold.it/370x372" alt=""/>
            </div>
        </div>
        <div class="col-md-6">
            <h4 class="pro-d-title">
                <a href="#" class="">
                    <%= movie.itemTitle() %>
                </a>
            </h4>
            <p>
                <%= movie.description() %>
            </p>
            <div class="product_meta">
                <span class="posted_in"> <strong>Category:</strong> <a rel="tag" href="/Shopfront/getByCategory/<%= movie.category() %>"><%= movie.category() %></a>.</span>
                <span class="tagged_as"><strong>Lead cast:</strong> <a rel="tag" href="#"><%= movie.leadActor() %></a>, <a rel="tag" href="#"><% movie.leadActress() %></a>.</span>
            </div>
            <div class="m-bot15"> <strong>Year : </strong><span class="pro-price"><%= movie.yearOfProduction() %></span></div>
            <p>
				<% if(movie.quantity() > 0){ %>
					<%== linkTo("<i class='fa fa-shopping-cart'></i> Rent now", urla("placeOrder", movie.itemTitle()), Tf::Post, "confirm('Do you want to place an order for this movie?')", a("class", "btn btn-round btn-danger")) %>
				<% } else{ %>
					<a href = "#" class = "btn btn-round btn-danger disabled">Rented out</a>
				<% } %>
            </p>
            <div><%==$ error %></div>
        </div>
    </div>
</section>

<section class="panel">
    <header class="panel-heading tab-bg-dark-navy-blue">
        <ul class="nav nav-tabs ">
            <li class="active">
                <a data-toggle="tab" href="#description">
                    Description
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#reviews">
                    Reviews
                </a>
            </li>
        </ul>
    </header>
    <div class="panel-body">
        <div class="tab-content tasi-tab">
            <div id="description" class="tab-pane active">
                <h4 class="pro-d-head">Product Description</h4>
                <p> Praesent ac condimentum felis. Nulla at nisl orci, at dignissim dolor, The best product descriptions address your ideal buyer directly and personally. The best product descriptions address your ideal buyer directly and personally. </p>
                <p> Praesent ac condimentum felis. Nulla at nisl orci, at dignissim dolor, The best product descriptions address your ideal buyer directly and personally. The best product descriptions address your ideal buyer directly and personally. The best product descriptions address your ideal buyer directly and personally. The best product descriptions address your ideal buyer directly and personally. </p>
            </div>
            <div id="reviews" class="tab-pane">
                <article class="media">
                    <a class="pull-left thumb p-thumb">
                        <img src="img/avatar-mini.jpg">
                    </a>
                    <div class="media-body">
                        <a href="#" class="cmt-head">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
                        <p> <i class="fa fa-time"></i> 1 hours ago</p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

<div class="row product-list">
    <div class="col-md-4">
        <section class="panel">
            <div class="pro-img-box">
                <img src="http://placehold.it/279x222" alt=""/>
                <a href="#" class="adtocart">
                	<i class="fa fa-shopping-cart"></i>
                </a>
            </div>
            <div class="panel-body text-center">
                <h4>
                    <a href="#" class="pro-title">
                        Leopard Shirt Dress
                    </a>
                </h4>
                <p class="price">$300.00</p>
            </div>
        </section>
    </div>
</div>
