<%#include "item.h" %>
<% tfetch(QList<Item>, itemList); %>
<% tfetch(QList<Item>, itemByCategoryList); %>
<section class="panel">
    	<div class="panel-body">
    		<div class="pro-sort">
            		<label class="pro-lab">Sort By</label>
            		<select class="styled" >
            			<option>Default Sorting</option>
                		<option class="sort" data-sort="pro-title">Name</option>
                		<option class="sort" data-sort="price">Category</option>
            		</select>
        	</div>
        	<div class="pull-right">
            		<ul class="pagination pagination-sm pro-page-list"></ul>
        	</div>
    	</div>
</section>

<div class="row product-list list">
	<% if(controller()->activeAction() == "index"){ %>
    		<div><%==$ notice %></div>
    		<% foreach(Item i, itemList){ %>
    			<div class="col-md-4">
	            		<section class="panel">
	                		<div class="pro-img-box">
	                    		<img src="http://placehold.it/279x222" alt=""/>
	                    		<a href="#" class="adtocart"><i class="fa fa-shopping-cart"></i></a>
	                		</div>

	                		<div class="panel-body text-center">
	                    		<h4>
	                    			<a href="/Shopfront/itemDetails/<%= i.id() %>" class="pro-title"><%= i.itemTitle() %></a>
	                    		</h4>
	                    		<p class="price"><%= i.category() %></p>
	                		</div>
	            		</section>
	        	</div>
	    	<% } %>
    	<% } else{ %>
    		<% foreach(Item i, itemByCategoryList){ %>
    			<div class="col-md-4">
	            		<section class="panel">
	                		<div class="pro-img-box">
	                    		<img src="http://placehold.it/279x222" alt=""/>
	                    		<a href="#" class="adtocart"><i class="fa fa-shopping-cart"></i></a>
	                		</div>

	                		<div class="panel-body text-center">
	                    		<h4>
	                    			<a href="/Shopfront/itemDetails/<%= i.id() %>" class="pro-title"><%= i.itemTitle() %></a>
	                    		</h4>
	                    		<p class="price"><%= i.category() %></p>
	                		</div>
	            		</section>
	        	</div>
	    	<% } %>
    	<% } %>
</div>

<script type="text/javascript">
	var options = {
		valueNames: [ 'pro-title', 'price' ],
		page: 6,
    		plugins: [ListPagination({})]
	};

	var productList = new List('movies', options);
</script>